<div class='row student-group-editor'>
  <%= simple_form_for([term, student_group]) do |f| %>
    <div class='small-12 columns'>
      <%= f.input :title %>

      <%= f.input :tutorial_group, collection: tutorial_groups %>
    </div>


    <div class='small-6 columns'>
      <div class='student-group-list-container'>
        <%= render collection: f.object.term_registrations, partial: "term_registration" %>
      </div>

      <hr />
      <%= f.submit class: "small primary button" %>
    </div>
  <% end %>

  <div class='small-6 columns'>
    <%= form_tag(search_students_term_student_groups_path(term), remote: true, class: "search-form") do %>
      <%= label_tag :q, "Search for students" %>
      <%= search_field_tag(:q) %>
    <% end %>
    <hr />
    <div class='student-list-container'>
      <p class='placeholder'>Start Typing in order to fetch students</p>
    </div>
  </div>

</div>

