<div class='row student-group-editor'>
  <div class='small-6 columns'>
    <%= simple_form_for([term, student_group]) do |f| %>
      <%= f.input :title %>
      <%= f.input :tutorial_group_id, collection: tutorial_groups %>

      <div class='student-group-list-container panel'>
        <%= render collection: f.object.term_registrations, partial: "term_registration" %>
      </div>

      <hr />
      <%= f.submit class: "small primary button" %>
    <% end %>
  </div>
  <div class='small-6 columns'>
    <div class='panel'>
      <%= form_tag(search_students_term_student_groups_path(term), remote: true, class: "search-form") do %>
        <%= label_tag :q, "Search for students" %>
        <%= search_field_tag(:q, "", incremental: 'incremental') %>
      <% end %>
      <hr />
      <div class='student-list-container'>
        <p class='placeholder'>Start Typing in order to fetch students</p>
      </div>
    </div>
  </div>

</div>

