<h3>Submissions</h3>
<% if submissions.any? %>
  <table class='large-12 sortable'>
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Submitted at</th>
        <th>Points</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% submissions.each do |submission| %>
        <tr>
          <td><%= submission.exercise.title %></td>
          <td><%= submission.submitted_at %></td>
          <td><%= pluralize submission.submission_evaluation.evaluation_result, "point" %></td>
          <td class='text-right'>
            <%= link_to "show", submission_path(submission), class: "small primary button" %>
            <%= link_to "evaluate", submission_evaluation_path(submission.submission_evaluation), class: "small primary button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan='2'>Sum:</th>
        <th><%= pluralize submissions.map(&:submission_evaluation).sum(&:evaluation_result), "point" %></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
<% else %>
  <p>This group has not submitted any submission.</p>
<% end %>