<% title @term.title, pluralize(@student_groups_count, "Student Groups") %>

<%= render "terms/sidebar", term: current_term %>

<% if @student_groups_count > 0 %>
  <table class='large-12'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Tutorial Group</th>
        <th>Students</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @student_groups.each do |student_group| %>
        <tr>
          <td><%= student_group.title %></td>
          <td><%= tutorial_group_title student_group.tutorial_group %></td>
          <td><%= student_group.students.count %></td>
          <td class='text-right'>
            <%= link_to "Show", term_student_group_path(current_term, student_group), class: "tiny primary button" %>
            <%= link_to "Edit", edit_term_student_group_path(current_term, student_group), class: "tiny primary button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No student groups present</p>
<% end %>

<%= link_to "New Student Group", new_term_student_group_path(current_term), class: "small primary button" %>