<% title "Student Groups", current_term.title %>

<%= render "terms/sidebar", term: current_term %>

<% if @student_groups.count > 0 %>
  <table class='large-12 sortable student-groups'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Topic</th>
        <th>Tutorial Group</th>
        <th>Students</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @student_groups.each do |student_group| %>
        <tr>
          <td><%= student_group.title %></td>
          <td><%= student_group.topic %></td>
          <td><%= tutorial_group_title student_group.tutorial_group %></td>
          <td><%= student_group.students.length %></td>
          <td class='text-right'>
            <%= link_to "Show", term_student_group_path(current_term, student_group), class: "small primary button" %>

            <% if policy(student_group).edit? %>
              <%= link_to "Edit", edit_term_student_group_path(current_term, student_group), class: "small primary button" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No student groups present</p>
<% end %>

<%= link_to "New Student Group", new_term_student_group_path(current_term), class: "small primary button" %>