<%= title(@student_group.title, course_term_title) %>

<%= render "terms/sidebar", term: current_term %>

<% if policy(@student_group).edit? %>
  <p class='text-right'><%= link_to "Edit", edit_term_student_group_path(current_term, @student_group), class: "small primary button" %></p>
<% end %>

<section class='info-panel'>
  <%= render "info_panel", student_group: @student_group %>
</section>
<section class='students-table'>
  <%= render "students_table", term_registrations: @student_term_registrations %>
</section>

<section class='submissions-table'>
  <%= render "submissions_table", submissions: @submissions %>
</section>
