<%= title(tutorial_group_title(current_tutorial_group), @student_group.title) %>

<%= render "tutorial_groups/sidebar", tutorial_group: current_tutorial_group %>

<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Students</a></p>
    <div class="content" data-section-content>
      <% if @student_term_registrations.any? %>
        <%= render "term_registrations/student_term_registrations_table", term_registrations: @student_term_registrations %>
      <% else %>
        <p>No students present.</p>
      <% end %>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Submissions</a></p>
    <div class="content" data-section-content>
      <% if @submissions.any? %>
        <table class='large-12'>
          <thead>
            <tr>
              <th>Exercise</th>
              <th>Submitted at</th>
              <th>Points</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @submissions.each do |submission| %>
              <tr>
                <td><%= submission.exercise.title %></td>
                <td><%= submission.submitted_at %></td>
                <td><%= pluralize submission.submission_evaluation.evaluation_result, "point" %></td>
                <td>
                  <%= link_to "show", submission_path(submission), class: "small primary button" %>
                  <%= link_to "evaluate", single_evaluation_path(submission), class: "small primary button" %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th colspan='2'>Sum:</th>
              <th><%= pluralize @submissions.map(&:submission_evaluation).sum(&:evaluation_result), "point" %></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      <% else %>
        <p>This group has not submitted any submission</p>
      <% end %>
    </div>
  </section>
</div>

<p><%= link_to "Edit", edit_term_tutorial_group_student_group_path(current_term, current_tutorial_group, @student_group), class: "small primary button" %></p>
