<% title course_term_title, "Your Results" %>

<%= render "terms/sidebar", term: current_term %>

<table class='small-12 submission-list'>
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Possible Points</th>
      <th>Your Points</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @term_review.submission_reviews.each do |submission_review| %>
      <tr<%= " class='outdated'".html_safe if submission_review.outdated? %>>
        <td>
          <strong><%= submission_review.exercise_title %></strong>
          <br> <%= submission_attempt_title(submission_review.submission) %>
        </td>
        <td><%= submission_review.achievable_points %></td>

        <% if submission_review.published? %>
          <td><%= submission_review.points || "na" %></td>
          <td><%= link_to "Details", term_result_path(current_term, submission_review.exercise) %></td>
        <% else %>
          <td colspan='2'>
            Not yet published
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td><%= @term_review.published_points %></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<hr />
<% if @term_review.all_results_published? %>
  <h4>Grade: <%= @term_review.grade %></h4>
<% else %>
  <h4>Your provisional grade will be available, when the results for all exercises are published.</h4>
<% end %>
