<% title course_term_title, "Your Results" %>

<%= render "terms/sidebar" %>

<% sum = 0 %>
<table class='small-12'>
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Possible Points</th>
      <th>Your Points</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.title %></td>
        <td><%= exercise.points %></td>

        <% if @tutorial_group.results_published_for?(exercise) %>
          <% points_reached = points_for_exercise @tutorial_group, current_account, exercise %>

          <td><%= exercise_result @tutorial_group, current_account, exercise %></td>
          <td><%= link_to "Details", exercise_student_results_path(exercise) %></td>
        <% else %>
          <td colspan='2'>
            Not yet published
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><%= sum %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<hr />
<% if @tutorial_group.all_results_published? %>
  <h4>Grade: <%#= final_grade @term, current_account %></h4>
<% else %>
  <h4>Your provisional result will be avaliable, when the results for all exercises are published.</h4>
<% end %>
