<% title @exercise.title, "Results" %>

<%= render "terms/sidebar", term: @term %>
<%= render "exercises/subnav", exercise: @exercise %>

<%= cache @submission_review do %>
  <h4>You have reached <%= @submission_review.points %> out of <%= points @submission_review.achievable_points %></h4>
  <hr />

  <%= render "grading_reviews/evaluation_result", submission_review: @submission_review %>
  <%= render "grading_reviews/evaluation_comments", commentable: @submission_review.submission_evaluation %>
<% end %>
