<% if viewer.displayable? %>

  <%= render "toolbar_style" %>
  <div id='toolbar'>
    <%= link_to "Back", submission_evaluation_path(@submission.submission_evaluation) %>
    <%= submission_title(@submission) %>
    <select>
      <%= viewer.htmls.each do |html_asset| %>
      <% fn = File.basename html_asset.file.to_s %>
        <option value='<%= viewer.submission_html_path(fn) %>' <%= "selected='selected'" if viewer.asset == html_asset %>><%= fn %></option>
      <% end %>
    </select>
  </div>

  <%= content_for :head, viewer.headers %>
  <%= sanitize viewer.body %>

  <%= javascript_include_tag :html_viewer, "data-turbolinks-track" => true %>
<% else %>

<center>
  <h1>There seems to be an error</h1>
  <p>Maybe you clicked on a link that didn't work</p>
  <p>Try going <%= link_to "back", :back %>, it might help</p>
</center>
<% end %>