<table class='twelve'>
  <thead>
    <tr>
      <th>Forename</th>
      <th>Surname</th>
      <th>Matriculum Number</th>
      <th>Email</th>
      <th>Registered at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% term_registrations.each do |term_registration| %>
      <tr>
        <td><%= term_registration.student.forename %></td>
        <td><%= term_registration.student.surname %></td>
        <td><%= term_registration.student.matriculum_number %></td>
        <td><%= term_registration.student.email %></td>
        <td><%= l term_registration.registered_at, :format => :long %></td>
        <td class='right-aligned'><%= link_to "View", course_term_term_registrations_path(@course, @term, term_registration), :class => "tiny button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>