<% if params[:view] == "mine" %>
  <% title "Registered Students for your tutorial group" %>
<% else %>
  <% title "Registered Students for #{current_term.title}" %>
<% end %>


<section><%= form_tag course_term_term_registrations_path(current_course, current_term), :method => :get do %>
  <%= hidden_field_tag :view, params[:view] %>
  <div class='row'>
    <div class='eleven columns'><%= search_field_tag :q, params[:q] %></div>
    <div class='one column'><%= submit_tag "search", :class => "tiny button" %></div>
  </div>
<% end %></section>

<%= link_to "Import students", new_course_term_import_student_import_path(current_course, current_term), :class => "button" %>


<% if @term_registrations.any? %>

  <% @grouped_term_registrations.each do |tutorial_group, term_registrations| %>
    <h3><%= tutorial_group.title %></h3>
  
    <%= render "tutorial_group_table", :term_registrations => term_registrations %>
  <% end %>
<% else %>
  <% if params[:q].present? %>
    <p>No Students found</p>
  <% else %>
    <p>There are no term registrations.</p>
  <% end %>
<% end %>