<div id="<%= dom_id(comment) %>" class="<%= "#{upcast(@commentable).class}" %> comment ">
  <div class='row'>
    <div class='large-12 columns'>
      <span>
        <strong><%= comment.account.fullname %></strong> commented:
      </span>
      <% if policy(Comment.new(term: @term)).create? %>
        <span class='comment_entry_icons'>
          <%= link_to foundation_icon(:page_edit), edit_polymorphic_path([upcast(@commentable), comment]), remote: true %>
          <%= link_to foundation_icon(:x), polymorphic_path([upcast(@commentable), comment]), method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="panel radius">
    <%= comment.content.html_safe %>
  </div>
</div>
