<div id="<%= "comment_id_#{comment.id}" %>" class="comment">
  <div class='row'>
    <div class='large-12 columns'>
      <span>
        <strong><%= comment.account.fullname %></strong> commented:
      </span>
      <% if policy(Comment.new(term: @term)).create? %>
        <span class='comment_entry_icons'>
          <%= link_to foundation_icon(:page_edit), '#', id: 'edit_comment' %>
          <%= link_to foundation_icon(:x), polymorphic_path([upcast(@commentable), comment]), method: :delete, remote: true, data: { confirm: "Are you sure?" }, id: 'delete_comment' %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="panel radius">
    <%= comment.content.html_safe %>
  </div>
</div>

<% if policy(Comment.new(term: @term)).create? %>
  <%= render partial:'comments/edit_form' , locals: { comment: comment } %>
<% end %>
