<% title @exercise.title, "Publish Results" %>

<%= render "exercises/sidebar" %>
<%= render "exercises/edit_header" %>

<table class='large-12 result_publications_table'>
  <thead>
    <tr>
      <th>Tutorial Group</th>
      <th class='small-2'></th>
    </tr>
  </thead>
  <tbody>
    <%- @tutorial_groups.each do |tutorial_group| -%>
      <tr>
        <td><%= tutorial_group_title tutorial_group %></td>
        <td class='right-aligned'>
          <%= simple_form_for([@exercise, @exercise.result_publication_for(tutorial_group)]) do |f| %>
            <%= f.input :published, input_html: {value: f.object.published? ? 0 : 1}, as: :hidden %>
            <%= f.submit "#{f.object.published? ? "Conceal" : "Publish"} #{tutorial_group.title}", class: "small button#{ " alert" if f.object.published?}" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>