<% title @exercise.title, "Publish Results" %>

<%= render "terms/sidebar", term: @term %>
<%= render "exercises/subnav", exercise: @exercise %>

<table class='large-12 result_publications_table sortable'>
  <thead>
    <tr>
      <th>Tutorial Group</th>
      <th>Status</th>
      <th class='right-aligned' data-sort-disabled='true'>
        <%= link_to 'Publish all', publish_all_exercise_result_publications_path(@exercise), method: :put, class: 'small button', data: { confirm: "Are you sure you want to PUBLISH all results for #{@exercise.title}?" } %>
        <%= link_to 'Conceal all', conceal_all_exercise_result_publications_path(@exercise), method: :put, class: 'small button alert', data: { confirm: "Are you sure you want to CONCEAL all results for #{@exercise.title}?" } %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%- @result_publications.each do |result_publication| -%>
      <tr>
        <td><%= tutorial_group_title result_publication.tutorial_group %></td>
        <td>
          <% if result_publication.published? %>
            Published
          <% else %>
            Concealed
          <% end %>
        </td>
        <td class='right-aligned'>
          <% if result_publication.published? %>
            <%= link_to "Conceal #{result_publication.tutorial_group.title}", conceal_exercise_result_publication_path(@exercise, result_publication), method: :put, class: "small button alert" %>
          <% else %>
            <%= link_to "Publish #{result_publication.tutorial_group.title}", publish_exercise_result_publication_path(@exercise, result_publication), method: :put, class: "small button" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
