<div class='rating_group_index_entry'>
  <div>
      <%= link_to raw("<i class='general foundicon-edit'></i>"), edit_course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group), class: 'rating_group_index_edit' %>

      <%= link_to raw("<i class='general foundicon-remove'></i>"), course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group), class: 'rating_group_index_remove', method: :delete, confirm: "Are you sure?", remote: true %>

    <h3 class='rating_group_index_header'>
      <%= link_to rating_group_full_title(rating_group), course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group) %>
    </h3>
  </div>

  <% if rating_group.ratings.any? %>
    <table class='large-12'>
      <thead>
        <tr>
          <th class='large-10'>Title</th>
          <th class='large-2 columns'>Value</th>
        </tr>
      </thead>
      <tbody>
        <% rating_group.ratings.each do |rating| %>
          <tr>
            <td><%= link_to_rating rating.title, rating %></td>

            <td class='right-aligned'>
              <%= rating_points_description rating %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No ratings present.</p>
  <% end %>
</div>