<div class='index_entry' id="<%= "rating_group_id_#{rating_group.id}" %>">
  <div class='row'>
    <div class='large-12 columns'>
    <h3 class='index_entry_header'>
      <%= link_to rating_group_full_title(rating_group), course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group) %>
    </h3>
    <span class='index_entry_icons right-aligned'>
    <%= link_to "<i class='general foundicon-edit'></i>".html_safe, edit_course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group), class: 'index_entry_edit', remote: true, data: {"reveal-id" => "reveal_modal"} %>

    <%= link_to "<i class='general foundicon-remove'></i>".html_safe, course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group), class: 'index_entry_remove', method: :delete, confirm: "Are you sure?", remote: true %>
    </span>
    </div>
  </div>


  <% if rating_group.ratings.any? %>
    <table class='large-12'>
      <thead>
        <tr>
          <th class='large-10'>Title</th>
          <th class='large-2'>Value</th>
        </tr>
      </thead>
      <tbody>
        <% rating_group.ratings.each do |rating| %>
          <tr>
            <td><%= link_to_rating rating.title, rating %></td>

            <td class='right-aligned'>
              <%= rating_points_description rating %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan='2'>
            <div class='row'>
              <div class='large-1 large-centered columns text-center'>
                <%= link_to "<i class='general foundicon-plus'></i>".html_safe, '#', title: 'Add new Rating'  %>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <% else %>
    <p>No ratings present.</p>
  <% end %>
</div>