<div id="<%= "rating_group_id_#{rating_group.id}" %>"
     data-update-position-action="<%= update_position_term_exercise_rating_group_path(current_term, @exercise, rating_group) %>"
     class='index_entry rating_group' >
  <div class='row'>
    <div class='large-12 columns'>
    <h3 class='index_entry_header'>
      <% if rating_group.description.blank? %>
        <%= rating_group_full_title(rating_group) %>
      <% else %>
        <span data-tooltip class="has-tip" title="<%= rating_group.description %>">
          <%= rating_group_full_title(rating_group) %>
        </span>
      <% end %>
    </h3>
    <span class='index_entry_icons right-aligned'>
    <%= link_to foundation_icon(:page_edit), edit_term_exercise_rating_group_path(current_term, @exercise, rating_group), class: 'index_entry_edit', remote: true, data: {"reveal-id" => "reveal_modal"} %>

    <%= link_to foundation_icon(:x), term_exercise_rating_group_path(current_term, @exercise, rating_group), class: 'index_entry_remove', method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
    </span>
    </div>
  </div>

  <table class='large-12'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="rating_index_entries">
      <%= render collection: rating_group.ratings, partial:'ratings/index_entry', as: :rating %>
      <tr class="last_one">
        <td colspan='3'>
          <div class='row'>
            <div class='large-1 large-centered columns text-center'>
              <%= link_to foundation_icon(:plus), new_term_exercise_rating_group_rating_path(current_term, @exercise, rating_group), remote: true, title: 'Add Rating', data: {"reveal-id" => "reveal_modal"}   %>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
