<% title @exercise.title, "Ratings".html_safe %>
<%= render "exercises/sidebar" %>
<%= render "exercises/edit_header" %>

<div class='panel'>
  <h3 class='text-right'>Total: <%= exercise_points_sum_tag(@exercise).html_safe %></h3>
</div>

<div id='rating_group_index_entries'>
  <p class='index_entry_none rating_group <%= 'hide' if @rating_groups.any? %>'>
    No rating groups present.
  </p>

  <% if @rating_groups.any? %>
    <%= render collection: @rating_groups.rank(:row_order), partial: 'rating_groups/index_entry', as: :rating_group %>
  <% end %>
</div>

<div class="row">
  <div class="large-12 large-centered columns text-center">
    <%= link_to "Add Rating Group", new_exercise_rating_group_path(@exercise), remote: true, class: "small button", data: {"reveal-id" => "reveal_modal"} %>
  </div>
</div>

<%= render 'application/reveal_modal' %>
