<% title @rating_group.title, "#{pluralize @rating_group.points, "point"} (#{@rating_group.min_points}...#{@rating_group.max_points})" %>
<%# title @rating_group.title, @rating_group.points + " " + (@rating_group.points > 1 ? "points" : "point") %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_term_exercise_rating_group_path(current_course, current_term, @exercise, @rating_group), class: "small button" %>
  <%= link_to "Delete", course_term_exercise_path(current_course, current_term, @exercise), method: :delete, confirm: "Are you sure?", class: "small alert button" %>
<% end %>

<dl class='tabs'>
  <dd class='active'>
    <a href='#ratings'>Ratings</a>
  </dd>
  <dd><a href='#description'>Description</a></dd>
</dl>
<ul class='tabs-content'>
  <li id='ratingsTab' class='active'>

    <% if @rating_group.ratings.any? %>
      <table class='twelve'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Points</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @rating_group.ratings.each do |rating| %>
            <tr>
              <td><%= rating.title %></td>

              <td class='right-aligned'>
                <%= rating_points_description rating %>
              </td>

              <td class='right-aligned'>
                <%= link_to "View", course_term_exercise_rating_group_rating_path(current_course, current_term, @exercise, @rating_group, rating), class: "tiny button" %>
                <%= link_to "Edit", edit_course_term_exercise_rating_group_rating_path(current_course, current_term, @exercise, @rating_group, rating), class: "tiny button" %>
                <%= link_to "Delete", course_term_exercise_rating_group_rating_path(current_course, current_term, @exercise, @rating_group, rating), class: "tiny alert button", method: :delete, confirm: "Are you sure?" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are no ratings present.</p>
    <% end %>

    <p>
      <%= link_to 'New Rating', new_course_term_exercise_rating_group_rating_path(current_course, current_term, @exercise, @rating_group), class: "small button"  %>
    </p>

  </li>

  <li id='descriptionTab'>
    <p><%= @rating_group.description %></p>
  </li>
</ul>
