<% title course_term_title, account_fullname_with_matriculation_number(@term_registration.account) %>

<%= render "terms/sidebar", term: current_term %>


<p class='text-right'>
  <%= link_to "Edit", edit_term_student_path(@term, @term_registration), class: "small button" if policy(@term_registration).edit? %>
  <%= link_to "Grading Review", term_grading_review_path(@term, @term_registration), class: "small button" %>
</p>

<%= render "info_panel", term_review: @term_review, term_registration: @term_registration %>

<h3>Submissions</h3>

<%= render "term_review_table", term_review: @term_review %>