<% title "Details of #{@student.fullname}" %>

<h1><%= @student.fullname %> <small><%= @student.matriculum_number %></small></h1>

<dl class='tabs'>
  <dd class='active'><a href='#overview'>Overview</a></dd>
  <dd><a href='#attendedCourses'>Attended Courses</a></dd>
  <dd><a href='#admin'>Administer Student</a></dd>
</dl>
<ul class='tabs-content'>
  <li class='active' id='overviewTab'>
    Quick overview of the student
  </li>
  <li id='attendedCoursesTab'>
    <% if @grouped_term_registrations.any? %>
      <% @grouped_term_registrations.each do |course, term_registrations| %>
      <h3><%= course.title %></h3>
    
      <ul>
      <% term_registrations.each do |term_registration| %>
        <li><%= term_registration.term.title %> (<%= term_registration.tutorial_group.title %>)</li>
      <% end %>
      </ul>
      <% end %>
    <% else %>
      <p>Student hasn't attended in any courses</p>      
    <% end %>
  </li>
  
  <li id='adminTab'>
    <%= link_to "Edit Student", edit_student_path(@student), :class => "button" %>
    <%= link_to "Delete Student", student_path(@student), :method => :delete, :class => "alert button" %>
  </li>
</ul>

<p><%= link_to "back", students_path %></p>