<table class='exercise-evaluations-table'>
  <tr>
    <th colspan='1'>&nbsp;</th>
    <% data.rating_groups.each do |rating_group| %>
      <th><%= rating_group.title %></th>

      <% rating_group.ratings.each_with_index do |rating, rating_index| %>
        <td><%= shorten rating.title, 20 %></td>
      <% end %>
    <% end %>
    <th>Result</th>
  </tr>
  <tr>
    <th colspan='1'>&nbsp;</th>
    <% data.rating_groups.each do |rating_group| %>
      <th><%= rating_group.points %></th>

      <% rating_group.ratings.each_with_index do |rating, rating_index| %>
        <td><%= rating_points_description rating %></td>
      <% end %>
    <% end %>
    <th></th>
  </tr>

  <% data.student_groups.each do |student_group| %>
  <tr>
    <th><%= exercise_evaluations_student_group_title(data, student_group) %></th>

    <% data.rating_groups.each do |rating_group| %>
      <td class='<%= exercise_evaluations_state_class(data, student_group) %> <%= exercise_evaluations_evaluation_group_results_id(student_group, rating_group) %>' ><%= exercise_evaluations_evaluation_group_result(data, student_group, rating_group) %></td>

      <% rating_group.ratings.each_with_index do |rating| %>
        <td class='<%= exercise_evaluations_state_class(data, student_group) %> submission-evaluation-<%= student_group.id %>-<%= rating.id %> submission-evaluation-<%= student_group.id %>' data-student-group='<%= student_group.id %>'>
          <%= exercise_evaluations_table_form data, student_group, rating %>
        </td>
      <% end %>
    <% end %>
    <td class='<%= exercise_evaluations_result_id(student_group) %>'><%= exercise_evaluations_submission_result(data, student_group) %></td>
  </tr>
  <% end %>
</table>
