<% title "Evaluations of #{@exercise.title}" %>

<div class='row'>
  <div class='small-12 large-12 columns'>
    <%= link_to "Transpose", {toggle_transpose: true}, {class: "small button"} %>

    <%= exercise_evaluations_view_dropdown(@exercise) %>
  </div>
</div>

<ul id='drop-view' class='f-dropdown'>
  <li><%= link_to "Group Number", '#' %></li>
  <li><%= link_to "Student Count", '#' %></li>
</ul>

<div class='exercise-evaluations-table-container' data-url='<%= exercise_evaluation_path(@exercise, format: :js) %>'>
  Loading table - please stand by
</div>

<!-- <script src='>'></script> -->