<% title course_term_title, "Add New Staff Member" %>

<%= render 'terms/sidebar', term: @term %>

<%= simple_form_for(@term_registration, url: term_staff_index_path(@term_registration.term), html: {id: "term_registration_form"}) do |f| %>
  <div class='lookup-input-container'>
    <%= search_field_tag :subject_lookup, "", placeholder: "MNr. or Name", autocomplete: "off", data: { behaviour: "association-lookup", input: "#term_registration_account_id", subject_container: ".subject-container", lookup_url: term_accounts_path(format: :json) } %>
  </div>

  <div class='panel subject-container'>
    <% if @term_registration.account.present? %>
      <%= term_account_card(@term_registration.account) %>
    <% else %>
      No account selected. Start searching for accounts by typing in the search field above
    <% end %>
  </div>
  <%= f.input :account_id, as: :hidden %>
  <%= f.full_error :account_id, class: "" %>

  <%= f.input :role, collection: staff_role_options, include_blank: false %>
  <%= f.input :tutorial_group_id, collection: term_registrations_tutorial_group_options(@term_registration.term), include_blank: false, wrapper_html: {class: ('hide' if @term_registration.lecturer?)} %>

  <p>
    <%= link_to "Cancel", term_staff_index_path(current_term), class: "secondary button" %>
    <%= f.submit "Add New Member", class: "button" %>
  </p>
<% end %>
