<%= event_box(updated) do |event| %>
	<%= event.account.fullname %>
		<% if event.added_term_registrations.present? %>
			<strong>added</strong>
				<% if event.added_term_registrations.count == 1 %>
					<%= event.added_term_registrations.first %>
				<% elsif event.added_term_registrations.count > 1 %>
				<div class='description'>
				<ul class='circle'>
				  <% event.added_term_registrations.each do |added_term_registration| %>
				  <li>
				  	<%= added_term_registration %>
				  </li>
					<% end %>
				</ul>
				</div>
				<% end %>
				to <%= event.student_group_title %>
		<% end %>
		<% if event.added_term_registrations.present? && event.removed_term_registrations.present? %>
			and
		<% end %>
		<% if event.removed_term_registrations.present? %>
			<strong>removed</strong> 
				<% if event.removed_term_registrations.count == 1 %>
					<%= event.removed_term_registrations.first %>
				<% elsif event.removed_term_registrations.count > 1 %>
				<div class='description'>
				<ul class='circle'>
				  <% event.removed_term_registrations.each do |removed_term_registration| %>
				  <li>
				  	<%= removed_term_registration %>
				  </li>
				  <% end %>
				</ul>
				</div>
				<% end %>
				from <%= event.student_group_title %>
		<% end %>
<% end %>