<%= simple_form_for [@course, @term], remote: true do |f| %>
  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>
  <%= f.input :course_id, as: :hidden %>

  <% if @course.terms.any? %>
    <%= label_tag :copy_elements do %>
      <%= check_box_tag :copy_elements %>
      Copy elements from previous term
    <% end %>

    <div id="copy_elements_container" class="radius panel hide">
      <%= label_tag :copy_elements_lecturer, "Source term" %>
      <%= collection_select(:copy_elements_data, :term_id, @course.terms, :id, :title) %>

      <%= label_tag :copy_elements_lecturer do %>
        <%= check_box_tag :copy_elements_lecturer %>
        Lecturer
      <% end %>

      <%= label_tag :copy_elements_exercises do %>
        <%= check_box_tag :copy_elements_exercises %>
        Exercises with RatingGroups and Ratings
      <% end %>

    </div>
  <% end %>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
      <%= f.submit "Save", class: "button" %>
    </div>
  </div>
<% end %>
