<%= simple_form_for [@course, @term], remote: true do |f| %>
  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>
  <%= f.input :course_id, as: :hidden %>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
      <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
