<div id='grading_scale'>
  <table class='large-centered grid-center'>
    <thead>
      <th>Grade</th>
      <th colspan=3 class='text-center'>Points</th>
      <th>Students</th>
      <th>Percent</th>
    </thead>
    <tbody>
      <% @term.grading_scale.reverse.each_with_index do |item, index| %>
        <tr>
          <td class='minimum-width text-center'><%= item[1] %></td>
          <td class='minimum-width right-aligned'>
            <% if index-1 >= 0 %>
              <%= @term.grading_scale.reverse[index-1][0] - 1 %></td>
            <% else %>
              <%= @term.points %>
            <% end %>
          </td>
          <td class='minimum-width'>-</td>
          <td>
            <% if index+1 == @term.grading_scale.length %>
              <%= item[0] %>
            <% else %>
              <%= simple_form_for :grading_scale, url: term_update_grading_scale_path(@term), remote: true do |f| %>
                <%= f.number_field item[1].to_s, value: item[0], min: 0, max: @term.points %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= @term.grade_distribution[item[1]] %>
          </td>
          <td>
            <%= "#{(@term.grade_distribution[item[1]] / @term.students.count.to_f * 100).round 1} %" if @term.students.any?  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
