<tr class="index_entry term" id="<%= "term_id_#{term.id}" %>">
  <td><%= link_to "#{term.title}", term_path(term) %></th>
  <td><%= term.exercises.count %></td>
  <td><%= term.tutorial_groups.count %></td>
  <td><%= term.students.count %></td>

  <td class='right-aligned minimum-width'>
    <%= link_to foundation_icon(:page_edit), edit_term_path(term), title: 'Edit', class: 'index_entry_edit', remote: true, data: {"reveal-id" => "reveal_modal"} %>

    <%= link_to foundation_icon(:x), term_path(term), title: 'Delete', class: 'index_entry_remove', method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
  </td>
</tr>
