<tr class="index_entry term" id="<%= "term_id_#{term.id}" %>">
  <td><%= link_to term.title, term_path(term) %></th>
  <td><%= term.exercises.count %></td>
  <td><%= term.tutorial_groups.count %></td>
  <% if policy(term).update? || policy(term).destroy? %>
    <td><%= term.students.count %></td>
  <% end %>
</tr>
