<tr class="index_entry term" id="<%= "term_id_#{term.id}" %>">
  <td><%= link_to "#{term.title}", course_term_path(term.course, term) %></th>
  <td><%= term.exercises.count %></td>
  <td><%= term.tutorial_groups.count %></td>
  <td><%= term.students.count %></td>

  <td class='right-aligned minimum-width'>
    <%= link_to foundicon(:edit), edit_course_term_path(term.course, term), class: 'index_entry_edit', remote: true, data: {"reveal-id" => "reveal_modal"} %>

    <%= link_to foundicon(:remove), course_term_path(term.course, term), class: 'index_entry_remove', method: :delete, confirm: "Are you sure?", remote: true %>
  </td>
</tr>