<% sidebar_nav do %>
  <%= sidenav_item(:home, 'Dashboard', term_path(term)) %>
  <%= sidenav_item(:clipboard_notes, 'Exercises', term_exercises_path(term), %w(exercises rating_groups staff_submissions submission_bulks result_publications services submissions).include?(params[:controller]) || params[:controller] == 'student_results' && params[:action] == 'show')%>

  <li class='divider'></li>

  <% if current_account.admin? || policy(term).staff? %>
    <%= sidenav_item(:list_thumbnails, 'Points Overview', points_overview_term_path(term)) %>
    <%= sidenav_item(:torsos, 'Tutorial Groups', term_tutorial_groups_path(term)) %>
    <%= sidenav_item(:torsos, 'Student Groups', term_student_groups_path(term), params[:controller] == 'student_groups') %>
    <%= sidenav_item(:torso, 'Students', term_students_path(term), params[:controller] == 'students') %>
  <% else %>
    <%= sidenav_item(:megaphone, 'Results', term_results_path(term), params[:controller] == 'student_results' && params[:action] == 'index') %>
  <% end %>

  <% if policy(term).update? %>
    <li class='divider'></li>
    <%= sidenav_item(:torsos, 'Staff', term_staff_index_path(term), params[:controller] == 'staff') %>
    <%= sidenav_item(:list_thumbnails, 'Grading Scale', term_grading_scales_path(term), params[:controller] == 'grading_scales') %>
    <%= sidenav_item(:upload, 'Imports', new_term_import_path(term), params[:controller] == 'imports') %>
    <%= sidenav_item(:download, 'Exports', term_exports_path(term), params[:controller] == 'exports') %>
    <%= sidenav_item(:pencil, 'Administrate', edit_term_path(term), params[:controller] == 'terms' && params[:action] == 'edit') %>
    <%= sidenav_item(:list_thumbnails, 'Submission Statistics', term_submission_statistics_path(term), params[:controller] == 'submissions_disk_usage_statistics') %>
  <% end %>
<% end %>
