<% sidebar_nav do %>
  <%= sidenav_item(:home, "Dashboard", term_path(@term)) %>
  <%= sidenav_item(:clipboard_notes, "Exercises", term_exercises_path(@term)) %>
  <% unless policy(@term).student? %>
    <%= sidenav_item(:torsos, "Tutorial Groups", '#') %>
    <%= sidenav_item(:calendar, "Meeting Time", '#') %>

  <% end %>


  <% if policy(@term).update? %>
    <li class='divider'></li>
    <%= sidenav_item(:pencil, "Administrate", edit_term_path(@term), term_sidebar_administrative_active?) %>
  <% end %>
<% end %>