<% title course_term_title, "Edit Term" %>

<%= render "sidebar", term: @term %>

<%= render "form" %>

<hr />
<div class='panel secondary' data-behaviour='welcome-notifications'>
  <h4>Welcome new Students</h4>

  <% if @term_registrations_awaiting_welcome.any? %>
    <p>
      There <%= 'is'.pluralize(@term_registrations_awaiting_welcome.count) %> <%= pluralize(@term_registrations_awaiting_welcome.count, "welcome notification") %> waiting to be sent.
    </p>

    <%= link_to "Send #{pluralize(@term_registrations_awaiting_welcome.count, "welcome notification")}",
      term_welcome_notifications_path(@term),
      method: :post,
      data: {confirm: "Are you sure?"},
      class: "small secondary button" %>
  <% else %>
    <p>All welcome notifications have been sent.</p>
  <% end %>
</div>

<hr />
<div class='panel alert callout'>
  <h4>DANGER ZONE!</h4>

  <p>Deleting a Term deletes all associated exercises, tutorial groups and submissions as well.</p>

  <%= link_to "Delete Term",
    term_path,
    method: :delete,
    data: {confirm: "Are you sure?"},
    class: "small alert button" %>
</div>
