<% title course_term_title(current_course, current_term) %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_term_path(current_course, current_term), :class => "small button" %>
  <%= link_to "Delete", course_term_path(current_course, current_term), :method => :delete, :confirm => "Are you sure?", :class => "small alert button" %>
<% end %>

<dl class='tabs'>
  <dd class='active'>
    <a href='#tutorials'>Tutorial groups</a>
  </dd>
  <dd>
    <a href='#exercises'>Exercises</a>
  </dd>
  <dd>
    <a href="#tutors">Tutors</a>
  </dd>
</dl>

<ul class='tabs-content'>
  <li id='tutorialsTab' class='active'>
    <% if @tutorial_groups.any? %>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Tutor</th>
            <th>Students</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tutorial_groups.each do |tutorial_group| %>
            <tr>
              <td><%= tutorial_group.title %></td>
              <td><%= tutor_name tutorial_group.tutor %></td>
              <td><%= tutorial_group.students.count %></td>
              <td>
                <%= link_to "View", course_term_tutorial_group_path(current_course, current_term, tutorial_group), :class => "small button" %>
                <%= link_to "Edit", edit_course_term_tutorial_group_path(current_course, current_term, tutorial_group), :class => "small button" %>
                <%= link_to "Delete", course_term_tutorial_group_path(current_course, current_term, tutorial_group), :method => :delete, :confirm => "Are you sure?", :class => "small alert button" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No tutorial groups present.</p>
      <%= link_to "Import Students", new_course_term_import_student_import_path(current_course, current_term), :class => 'small button' %>
    <% end %>
  </li>
  <li id='exercisesTab'>

    <% if @exercises.any? %>
      <table class='twelve'>
        <thead>
          <tr>
            <th>Title</th>
            <th>RatingGroups</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @exercises.each do |exercise| %>
            <tr>
              <td><%= exercise.title %></td>
              <td><%= exercise.rating_groups.count %></td>
              <td class='right-aligned'>
                <%= link_to "View", course_term_exercise_path(current_course, current_term, exercise), :class => "tiny button" %>
                <%= link_to "Edit", edit_course_term_exercise_path(current_course, current_term, exercise), :class => "tiny button" %>
                <%= link_to "Delete", course_term_exercise_path(current_course, current_term, exercise), :class => "tiny alert button", :method => :delete, :confirm => "Are you sure?" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There are no exercises present.</p>
    <% end %>

    <p>
      <%= link_to 'New Exercise', new_course_term_exercise_path(current_course, current_term), :class => "small button"  %>
    </p>
  </li>

  <li id='tutorsTab'>
    <% if @term.tutors.any? %>
      <table>
        <thead>
          <tr>
            <th>Forename</th>
            <th>Surname</th>
          </tr>
        </thead>
        <tbody>
        <% @term.tutors.each do |tutor| %>
          <tr>
            <td><%= tutor.forename %></td>
            <td><%= tutor.surname %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No tutors present</p>
    <% end %>
  </li>
</ul>
