<% title course_term_title(current_course, current_term) %>

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Dashboard</a></p>
    <div class="content" data-section-content>

      <%#= DO SOMETHING USEFULL HERE %>
      <p>
        <a href='#' class='button'>Current evaluation</a>
        <a href='#' class='button'>Current submissions</a>
        <a href='#' class='button'>Meeting time</a>
        <a href='#' class='alert button'>Get help!</a>
      </p>
      <%#= DO SOMETHING USEFULL HERE %>

    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Tutorial Groups</a></p>
    <div class="content" data-section-content>
      <% if @tutorial_groups.any? %>
        <table class='large-12'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Tutor</th>
              <th>Student groups</th>
              <th>Students</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @tutorial_groups.includes(:tutor_registration).each do |tutorial_group| %>
              <tr>
                <td><%= link_to "#{tutorial_group.title}", course_term_tutorial_group_path(current_course, current_term, tutorial_group) %></td>
                <td><%= tutor_name tutorial_group.tutor %></td>
                <td><%= tutorial_group.student_groups.count %></td>
                <td><%= tutorial_group.students.count %></td>

                <td class='right-aligned'>
                  <%= link_to gen_icon(:edit), edit_course_term_tutorial_group_path(current_course, current_term, tutorial_group) %>

                  <%= link_to gen_icon(:remove), course_term_tutorial_group_path(current_course, current_term, tutorial_group), method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No tutorial groups present.</p>
      <% end %>

      <p>
        <%= link_to "Import Students", new_course_term_import_student_import_path(current_course, current_term), class: 'small button' %>
      </p>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Exercises</a></p>
    <div class="content" data-section-content>

      <% if @exercises.any? %>
        <table class='large-12'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Deadline</th>
              <th>Submissions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @exercises.each do |exercise| %>
              <tr>
                <td><%= link_to "#{exercise.title}", course_term_exercise_path(current_course, current_term, exercise) %></td>
                <td><%= exercise.deadline%></td>
                <td><%= exercise.submissions.count %></td>

                <td class='right-aligned'>
                  <%= link_to gen_icon(:edit), edit_course_term_exercise_path(current_course, current_term, exercise) %>

                  <%= link_to gen_icon(:remove), course_term_exercise_path(current_course, current_term, exercise), method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>There are no exercises present.</p>
      <% end %>

      <p>
        <%= link_to 'New Exercise', new_course_term_exercise_path(current_course, current_term), class: "button"  %>
      </p>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Staff</a></p>
    <div class="content" data-section-content>
      <p>
        <%= link_to set_lecturer_label, course_term_new_lecturer_registration_path(current_course, current_term), class: "small button" %>
      </p>

      <% if @term.tutors.any? || @term.lecturer %>
        <table class='large-12'>
          <thead>
            <tr>
              <th></th>
              <th>Forename</th>
              <th>Surname</th>
            </tr>
          </thead>
          <tbody>
          <% if @term.lecturer %>
            <tr>
              <td>Lecturer</td>
              <td><%= @term.lecturer.forename %></td>
              <td><%= @term.lecturer.surname %></td>
            </tr>
          <% end %>

          <% @term.tutors.each do |tutor| %>
            <tr>
              <td>Tutor</td>
              <td><%= tutor.forename %></td>
              <td><%= tutor.surname %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No staff present.</p>
      <% end %>

    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Description</a></p>
    <div class="content" data-section-content>
      <% if @term.description? %>
        <%= simple_format @term.description %>
      <% else %>
        <p>No description present.</p>
      <% end %>
    </div>
  </section>
</div>
