<% title course_term_title %>

<div class="section-container tabs" data-section="tabs">
<!--   <section>
    <p class="title" data-section-title><a href="#">Grading Scale</a></p>
    <div class="content" data-section-content>
      <%= render 'grading_scale' %>
    </div>
  </section> -->

  <section>
    <p class="title" data-section-title><a href="#">Dashboard</a></p>
    <div class="content" data-section-content>
      <p>
        <% if Import::StudentImport.where{term_id == my{@term.id}}.blank? %>
          <%= link_to "Import Students", new_import_student_import_path(term_id: @term.id), class: 'button' %>
        <% else %>
          <%= link_to "View last Import result", results_import_student_import_path(@term.student_imports.last), class: "button" %>
        <% end %>

        <%= link_to "Points overview", term_points_overview_path(@term), class: "button" %>
      </p>
      <!-- TODO: insert important stuff here -->
      <!-- * link to evalation table for exercises as dropdown -->
      <!-- ... -->

    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Tutorial Groups</a></p>
    <div class="content" data-section-content>
      <% if @tutorial_groups.any? %>
        <table class='large-12'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Tutor</th>
              <th>Student groups</th>
              <th>Students</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @tutorial_groups.includes(:tutor_registration).each do |tutorial_group| %>
              <tr>
                <td><%= link_to "#{tutorial_group.title}", tutorial_group_path(tutorial_group) %></td>
                <td><%= tutor_name tutorial_group.tutor %></td>
                <td><%= tutorial_group.student_groups.count %></td>
                <td><%= tutorial_group.students.count %></td>

                <td class='right-aligned minimum-width'>
                  <%= link_to foundation_icon(:page_edit), edit_tutorial_group_path(tutorial_group) %>

                  <%= link_to foundation_icon(:x), tutorial_group_path(tutorial_group), method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No tutorial groups present.</p>
      <% end %>

      <p>
        <%= link_to "Import Students", new_import_student_import_path(term_id: @term.id), class: 'small button' %>
      </p>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Exercises</a></p>
    <div class="content" data-section-content>

      <% if @exercises.any? %>
        <table class='large-12'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Points</th>
              <th>Deadline</th>
              <th>Submissions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @exercises.each do |exercise| %>
              <tr>
                <td><%= link_to "#{exercise.title}", exercise_path(exercise) %></td>
                <td><%= exercise.points %></td>
                <td><%= exercise.deadline%></td>
                <td><%= exercise.submissions.count %></td>

                <td class='right-aligned minimum-width'>
                  <%= link_to foundation_icon(:page_edit), edit_exercise_path(exercise) %>

                  <%= link_to foundation_icon(:x), exercise_path(exercise), method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>There are no exercises present.</p>
      <% end %>

      <p>
        <%= link_to 'New Exercise', new_exercise_path(term_id: @term.id), class: "button"  %>
      </p>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Grading Scale</a></p>
    <div class="content" data-section-content>
      <%= render 'grading_scale' %>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Staff</a></p>
    <div class="content" data-section-content>
      <p>
        <%= link_to set_lecturer_label, term_new_lecturer_registration_path(term_id: @term.id), class: "small button" %>
      </p>

      <% if @term.tutors.any? || @term.lecturer %>
        <table class='large-12'>
          <thead>
            <tr>
              <th></th>
              <th>Forename</th>
              <th>Surname</th>
            </tr>
          </thead>
          <tbody>
          <% if @term.lecturer %>
            <tr>
              <td>Lecturer</td>
              <td><%= @term.lecturer.forename %></td>
              <td><%= @term.lecturer.surname %></td>
            </tr>
          <% end %>

          <% @term.tutors.each do |tutor| %>
            <tr>
              <td>Tutor</td>
              <td><%= tutor.forename %></td>
              <td><%= tutor.surname %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No staff present.</p>
      <% end %>

    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Description</a></p>
    <div class="content" data-section-content>
      <% if @term.description? %>
        <%= simple_format @term.description %>
      <% else %>
        <p>No description present.</p>
      <% end %>
    </div>
  </section>
</div>
