<% title 'Statistics', course_term_title %> 

<%= render 'terms/sidebar', term: @term %>

<% if @term.exercises.any? %>
  <table class='small-12 sortable exercises'>
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Filesystem size</th>
        <th>Average</th>
        <th>Minimum</th>
        <th>Maximum</th>
      </tr>
    </thead>
    <tbody>
      <% @term.exercises.each do |exercise| %>
        <% if exercise.submissions.any? %>
          <tr>
            <td data-sort='<%= exercise.title %>'><%= link_to exercise.title, exercise %></td>
            <td><%= exercise.get_disk_usage_sum %></td>
            <td><%= exercise.get_disk_usage_average %></td>
            <td><%= exercise.get_disk_usage_minimum %></td>
            <td><%= exercise.get_disk_usage_maximum %></td>
          </tr>
        <% else %>
          <tr>
            <td data-sort='<%= exercise.title %>'><%= link_to exercise.title, exercise %></td>
            <td colspan=5>No submissions for this exercise yet.</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No exercises present.</p>
<%end %>
