<% title 'Statistics', course_term_title %> 

<%= render 'terms/sidebar', term: @term %>

<% if @term.exercises.any? %>
  <table class='small-12 sortable exercises'>
    <thead>
      <tr>
        <th>Exercise</th>
        <th class='text-right'>Total on File System</th>
        <th class='text-right'>Average</th>
        <th class='text-right'>Minimum</th>
        <th class='text-right'>Maximum</th>
      </tr>
    </thead>
    <tbody>
      <% @term.exercises.each do |exercise| %>
        <% if exercise.submissions.any? %>
          <tr>
            <td data-sort='<%= exercise.title %>'><%= link_to exercise.title, exercise %></td>
            <td class='text-right'><%= filesize(number_with_delimiter(exercise.get_disk_usage_sum)) %></td>
            <td class='text-right'><%= filesize(number_with_delimiter(exercise.get_disk_usage_average.to_i)) %></td>
            <td class='text-right'><%= filesize(number_with_delimiter(exercise.get_disk_usage_minimum)) %></td>
            <td class='text-right'><%= filesize(number_with_delimiter(exercise.get_disk_usage_maximum)) %></td>
          </tr>
        <% else %>
          <tr>
            <td data-sort='<%= exercise.title %>'><%= link_to exercise.title, exercise %></td>
            <td colspan=5>No submissions for this exercise yet.</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No exercises present.</p>
<%end %>
