<% title "Change your password", false %>

<div class='row down'>
  <div class='large-5 large-centered grid-center panel radius'>
    <h1 class='subheader text-center'><%= yield(:title) %></h1>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <%= f.input :password, label: "New password", required: true %>
      <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>

      <div class='row'>
        <div class='large-12 large-centered columns text-center'>
          <%= f.submit "Change my password", class: "button with-bottom-margin" %>
        </div>
      </div>
    <% end %>

    <div class='row'>
      <div class='large-12 large centered columns text-center'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


<%#= render "devise/shared/links" %>
