<%= simple_form_for [current_course, current_term, @student_import], html: {class: "custom"} do |f| %>
  <div class='row'>
    <div class='large-5 columns'>
      <%= f.input :file %>
      <%= f.input :file_cache, as: :hidden %>

      <% if @student_import.file.to_s.present? %>
        <p>
          Current File: <%= File.basename @student_import.file.to_s %>
        </p>
      <% end %>

    </div>
  </div>

  <div class="section-container tabs" data-section="tabs">
    <section>
      <p class="title" data-section-title><a href="#">File Format Settings</a></p>
      <div class="content" data-section-content>

        <%= f.simple_fields_for :import_options do |b| %>
          <div class='row'>
            <div class='large-4 columns'>
              <div class='row'>
                <div class='large-12 large-centered text-center'>
                  <%= b.label :col_seperator %>
                </div>
              </div>
              <div class='row'>
                <div>
                  <%= b.input_field :col_seperator, value: @student_import.import_options[:col_seperator], class: 'file-format-centered' %>
                </div>
              </div>
            </div>

            <div class='large-4 columns'>
              <div class='row'>
                <div class='large-12 large-centered text-center'>
                  <%= b.label :quote_char %>
                </div>
              </div>
              <div class='row'>
                <div>
                  <%= b.input_field :quote_char, value: @student_import.import_options[:quote_char], class: "file-format-centered" %>
                </div>
              </div>
            </div>

            <div class='large-4 columns'>
              <div class='row'>
                <div class='large-12 large-centered text-center'>
                  <%= b.label :headers_on_first_line %>
                </div>
              </div>
              <div class='row'>
                <div class='file-format-centered text-center'>
                  <%= b.check_box :headers_on_first_line, checked: (@student_import.import_options[:headers_on_first_line].to_s == "1") %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </section>
  </div>

  <%= link_to "Cancel", (@student_import.new_record? ? course_term_import_student_imports_path(current_course, current_term) : course_term_import_student_import_path(current_course, current_term, @student_import)), class: "secondary button" %>
  <%= f.submit "Next", class: "button" %>
<% end %>