<%= simple_form_for [current_course, current_term, @student_import], html: {class: "custom"} do |f| %>
  <div class='row'>
    <div class='large-5 columns'>
      <%= f.input :file %>
      <%= f.input :file_cache, as: :hidden %>

      <% if @student_import.file.to_s.present? %>
        <p>
          Current File: <%= File.basename @student_import.file.to_s %>
        </p>
      <% end %>

    </div>
    <div class='large-4 columns'>
      <%= f.input :format, as: :select, collection: Import::StudentImport::FORMATS, include_blank: "-- determine automatically --" %>
    </div>
  </div>

  <div class="section-container tabs" data-section="tabs">
    <section>
      <p class="title" data-section-title><a href="#">File Format Settings</a></p>
      <div class="content" data-section-content>

        <%= f.simple_fields_for :import_options do |b| %>
          <div class='row'>
            <div class='large-2 columns'>
              <%= b.label :col_seperator, class: "right" %>
            </div>
            <div class='large-1 columns'>
              <%= b.input_field :col_seperator, value: @student_import.import_options[:col_seperator], class: "inline" %>
            </div>
            <div class='large-1 columns'></div>

            <div class='large-2 columns'>
              <%= b.label :quote_char, class: "right" %>
            </div>
            <div class='large-1 columns'>
              <%= b.input_field :quote_char, value: @student_import.import_options[:quote_char], class: "inline" %>
            </div>
            <div class='large-1 columns'></div>

            <div class='large-2 columns'>
              <%= b.label :headers_on_first_line, class: "right" %>
            </div>
            <div class='large-1 columns'>
              <%= b.check_box :headers_on_first_line, checked: (@student_import.import_options[:headers_on_first_line].to_s == "1"), class: "inline" %>
            </div>
            <div class='large-1 columns'></div>

          </div>
        <% end %>

      </div>
    </section>
  </div>

  <%= link_to "Cancel", (@student_import.new_record? ? course_term_import_student_imports_path(current_course, current_term) : course_term_import_student_import_path(current_course, current_term, @student_import)), class: "secondary button" %>
  <%= f.submit "Save", class: "button" %>
<% end %>