<%= simple_form_for @student_import, :html => {:class => "custom"} do |f| %>
  <%= f.association :term, :as => :select, :collection => @terms, :include_blank => false %>
  
  <div class='row'>
    <div class='five columns'>
      <%= f.input :file %>
      <%= f.input :file_cache, :as => :hidden %>
      
      <% if @student_import.file.to_s.present? %>
        <p>
          Current File: <%= File.basename @student_import.file.to_s %>
        </p>
      <% end %>
      
    </div>
    <div class='four columns'>
      <%= f.input :format, :as => :select, :collection => Import::StudentImport::FORMATS, :include_blank => "-- determine automatically --" %>
    </div>
  </div>
  <p></p>
  <dl class='tabs contained'>
    <dd class='active'><a href='#csvSettings'>CSV-Settings</a></dd>
  </dl>
  <ul class='tabs-content contained'>
    <li id='csvSettingsTab' class='active'>
      <%# Todo: Refactor this part - this is pretty ugly! %>
      <%= f.simple_fields_for :import_options do |b| %>
        <%#= debug @student_import.import_options.to_s %>
        <div class='row'>
          <div class='two columns'>
            <%= b.label :col_seperator, :class => "right" %>
          </div>
          <div class='one column'>
            <%= b.input_field :col_seperator, :value => @student_import.import_options[:col_seperator], :class => "inline" %>
          </div>
          <div class='one column'></div>
          <div class='two columns'>
            <%= b.label :headers_on_first_line, :class => "right" %>
          </div>
          <div class='one column'>
            <%= b.check_box :headers_on_first_line, :checked => (@student_import.import_options[:headers_on_first_line].to_s == "1"), :class => "inline" %>
          </div>
          <div class='one column'></div>
          <div class='eight columns'></div>
        </div>
        
        <div class='row'>
          <div class='two columns'>
            <%= b.label :quote_char, :class => "right" %>
          </div>
          <div class='one column'>
            <%= b.input_field :quote_char, :value => @student_import.import_options[:quote_char], :class => "inline" %>
          </div>
          <div class='nine columns'></div>
        </div>
      <% end %>
    </li>
  </ul>
  
  <%= f.submit "Save", :class => "button" %>
<% end %>