<%= simple_form_for [@student_import] do |f| %>
  <%= f.fields_for :import_mapping do |fb| %>

    <div class='row'>
      <div class='large-12 columns'>
        <div class='mapping_table_container'>
          <table class='mapping_table'>
            <thead>
              <tr>
                <% column_count.times do |i| %>
                  <td><%= mapping_table_header i, importable_attributes, mapping, fb %></td>
                <% end %>
              </tr>

              <% if headers.any? %>
                <tr>
                  <% for header in headers %>
                    <th><%= header.html_safe %></th>
                  <% end %>
                </tr>
              <% end %>
            </thead>
            <tbody>
              <%= render collection: values, partial:'mapping_table_entries', as: :row, locals: { column_count: column_count } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row" id="load_more_entries">
    <div class='large-12 columns'>
      <p>
        <%= link_to "Load all entries", full_mapping_table_import_student_import_path(@student_import), remote: true, class: "tiny button" %>
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
      <p><%= f.submit "Import", class: "button" %></p>
    </div>
  </div>
<% end %>
