<%= simple_form_for [current_course, current_term, @student_import] do |f| %>
  <%= f.fields_for :import_mapping do |fb| %>
    <div class='row mapping_table_container'>
      <div>
        <table class='mapping_table'>
          <thead>
            <tr>
              <% column_count.times do |i| %>
                <td><%= mapping_table_header i, importable_attributes, mapping, fb %></td>
              <% end %>
            </tr>

            <% if headers.any? %>
              <tr>
                <% for header in headers %>
                  <th><%= header.html_safe %></th>
                <% end %>
              </tr>
            <% end %>
          </thead>
          <tbody>
            <% values.first(5).each do |row| %>
              <tr>
                <% row.each do |cell| %>
                  <td><%= cell %></td>
                <% end %>

                <% (column_count - row.length).times do %>
                  <td></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <p>
      <%= "#{values.count - 5} more entries..." %>
    </p>
  <% end %>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
      <%= f.submit "Import", class: "button" %>
    </div>
  </div>
<% end %>