<% title "Student Imports for #{current_course.title} " %>

<div class='row'>
  <div class='columns'>
    <table class='large-12'>
      <thead>
        <th>Term</th>
        <th>Filename</th>
        <th>Imported Students</th>
        <th>Created At</th>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody>
        <% @student_imports.each do |student_import| %>
          <tr>
            <td><%= student_import.term_title %></td>
            <td><%= student_import.filename %></td>
            <td><%= student_import.students_count %></td>
            <td><%= student_import.created_at %></td>
            <td><%= student_import.status %></td>
            <td>
              <%= link_to  foundicon(:search), course_term_import_student_import_path(current_course, current_term, student_import) %>

              <%= link_to  foundicon(:remove), course_term_import_student_import_path(current_course, current_term, student_import), method: :delete, data: { confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<p>
  For new imports please go through the term of your choice.
</p>
