<% title course_term_title, 'Import Students' %>

<%= render 'terms/edit_header' %>
<%= render 'terms/sidebar', term: @term %>

<% if @imports.any? %>
  <h2 class="subheader">Existing Imports</h2>
  <div class='row'>
    <div class='columns'>
      <table class='large-12'>
        <thead>
          <th>Filename</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Status</th>
          <th colspan="2"></th>
        </thead>
        <tbody>
          <% @imports.each do |import| %>
            <tr>
              <td><%= import.filename %></td>
              <td><%= import.created_at %></td>
              <td><%= import.updated_at %></td>
              <td><%= import.status %></td>
              <td>
                <%= link_to foundation_icon(:magnifying_glass),
                  term_import_path(import) %>
              </td>
              <td>
                <%= link_to foundation_icon(:x),
                  term_import_path(import),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<h2 class="subheader">New Import from CSV</h2>
<%= render "form" %>
