<% if submission_review.deductions? %>
  <% submission_review.reviewable_evaluation_groups.each do |group| %>
    <div class='rating-group-<%= group.rating_group_id %>'>
      <h4><%= evaluation_group_title group.evaluation_group %></h4>

      <% if group.evaluations? %>
        <table class='small-12'>
          <thead>
            <tr>
              <th>Rating</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <% group.evaluations.each do |evaluation| %>
            <tr>
              <td>
                <%= evaluation.rating.title %>
                <% if evaluation.explanations_comments.present? %>
                  <%= link_to foundation_icon(:megaphone), evaluation_explanations_path(evaluation.becomes(Evaluation)), remote: :true, data: {"reveal-id" => "reveal_modal"}  %>
                <% end %>
              </td>
              <td>
              <% if evaluation.is_a? Evaluations::FixedEvaluation %>
                <%= rating_points_description evaluation.rating %>
              <% else %>
                <%= evaluation.points %>
              <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>

  <% if submission_review.individual_subtractions? %>
    <div class='individual-subtractions'>
      <h4>Individual Subtractions</h4>
      <p><%= points submission_review.individual_subtractions %></p>
    </div>
  <% end %>
<% else %>
  <div class='panel callout radius'>
    <h5>Well Done!</h5>
    <p>Nothing wrong with this submission</p>
  </div>
<% end %>

<%= render 'application/reveal_modal' %>
