<% title course_term_title, "Grading Review" %>


<%= form_tag term_grading_reviews_path(current_term), method: :get do %>
<div class='row collapse'>
  <div class='small-11 columns'>
    <%= search_field_tag :q, params[:q], placeholder: "e.g.: forename, surname, matriculation number, ..." %>
  </div>
  <div class='small-1 column'>
    <%= submit_tag "Search", class: "small button" %>
  </div>
</div>

<% end %>

<% if params[:q].present? %>
  <% if @term_registrations.any? %>
    <table class='small-12'>
      <thead>
        <tr>
          <th>Forename</th>
          <th>Surname</th>
          <th>Matriculation Number</th>
          <th>Tutorial Group</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @term_registrations.each do |term_registration| %>
        <tr>
          <td><%= highlight_search(term_registration.account.forename, params[:q]) %></td>
          <td><%= highlight_search(term_registration.account.surname, params[:q]) %></td>
          <td><%= highlight_search(term_registration.account.matriculation_number, params[:q]) %></td>
          <td><%= tutorial_group_title(term_registration.tutorial_group) %></td>
          <td><%= link_to "Show", term_grading_review_path(current_term, term_registration), class: "small button" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class='panel'>
      <h4>No students found <small>You searched for "<%= params[:q] %>", please try again</small></h4>
    </div>
  <% end %>


<% else %>
  <div class='panel'>
    <h4>No student selected <small>Please search for one above</small></h4>
  </div>

<% end %>