<% title "Grading Review for #{@term_review.student.fullname} (#{@term_review.student.matriculation_number})" %>

<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Overview</a></p>
    <div class="content" data-section-content>
      <%= render "overview_table", term_review: @term_review %>
    </div>
  </section>

  <% @term_review.submission_reviews.each_with_index do |submission_review, i| %>
    <section>
      <p class="title" data-section-title><a href="#panel<%= i+1 %>">

        <%= submission_review.exercise_title %>
        <% if submission_review.exercise_attempt.present? %>
          @ <%= submission_attempt_title(submission_review.submission) %>
        <% end %>
      </a></p>
      <div class="content" data-section-content>
        <%= render "submission_review", submission_review: submission_review %>
      </div>
    </section>
  <% end %>
</div>

<hr />
<%= link_to "Back", term_grading_reviews_path(current_term), class: "small button" %>
