<% unless submissions.empty? %>
  <table class='sortable large-12 submission-list'>
    <thead>
      <tr>
        <% if exercise.solitary_submission? %>
          <th>Student</th>
        <% end %>
        <th data-sort-default>Group</th>
        <th>Submitted at</th>
        <th>Evaluated at</th>
        <th>Result</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% submissions.each do |submission| %>
      <tr<%= ' class="outdated"'.html_safe if submission.outdated? %>>
        <td><%= submission_author submission %></td>

        <% if exercise.solitary_submission? %>
          <td>
            <%= submission.associated_student_groups.map(&:title).join(", ") %>
          </td>
        <% end %>

        <%= content_tag :td, class: "minimum-width", data: {sort: submission.submitted_at.to_i, sort_as: "integer"}  do %>
          <%= iso_time submission.submitted_at %></td>
        <% end %>

        <%= content_tag :td, class: "minimum-width", data: {sort: submission.submission_evaluation.evaluated_at.to_i, sort_as: "integer"}  do %>
          <% if submission.submission_evaluation.evaluated_at.present? %>
            <%= iso_time submission.submission_evaluation.evaluated_at %>
          <% else %>
            <em>not evaluated</em>
          <% end %>
        <% end %>
        <%= content_tag :td, data: {sort: submission.submission_evaluation.evaluation_result, sort_as: "integer"}  do %>
          <% if submission.submission_evaluation.evaluated_at.present? && submission.submission_evaluation.present? %>
            <%= pluralize submission.submission_evaluation.evaluation_result, "point" %>

            <%= content_tag(:span, foundation_icon(:alert), title: "Needs review") if submission.submission_evaluation.needs_review? %>
          <% else %>
            <em>not evaluated</em>
          <% end %>
        <% end %>

        <td>
          <%= link_to "Files", submission_path(submission), class: "small small-12 button" %>
          <%= link_to "Evaluate", submission_evaluation_path(submission.submission_evaluation), class: "small small-12 button no-bottom-margin" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No submissions present.</p>
<% end %>
