<% if submissions.any? %>
  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>Submitted at</th>
        <th>Evaluated at</th>
        <th>Result</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% submissions.each do |submission| %>
      <tr<%= ' class="outdated"'.html_safe if submission.outdated? %>>
        <td><%= submission_author submission %></td>
        <td class="minimum-width"><%= local_time submission.submitted_at, '%Y-%m-%d %H:%M' %></td>
        <td class="minimum-width">
          <% if submission.submission_evaluation.evaluated_at.present? %>
            <%= local_time submission.submission_evaluation.evaluated_at, '%Y-%m-%d %H:%M' %>
          <% else %>
            <em>not evaluated</em>
          <% end %>
        </td>
        <td>
          <% if submission.submission_evaluation.evaluated_at.present? && submission.submission_evaluation.present? %>
            <%= pluralize submission.submission_evaluation.evaluation_result, "point" %>
          <% else %>
            <em>not evaluated</em>
          <% end %>
        </td>
        <td>
          <%= link_to "Show", exercise_submission_path(submission.exercise, submission),
            class: "small small-12 button" %>
          <%= link_to "Evaluate",
            single_evaluation_path(submission, submission_scope: params[:submission_scope],
            tutorial_group_id: params[:tutorial_group_id]),
            class: "small small-12 button no-bottom-margin" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No submissions present.</p>
<% end %>
