<% if submissions.any? %>
  <table>
    <thead>
      <tr>
        <th>Student</th>
        <th>Submitted at</th>
        <th>Tutorial Group</th>
        <th>Evaluation Result</th>
        <th>Evaluated at</th>
        <th><%= link_to "Download #{foundation_icon(:download).to_s}".html_safe, {format: :zip}.merge(params), class: "small button  small-12" %></th>
      </tr>
    </thead>
    <tbody>
      <% submissions.each do |submission| %>
      <tr>
        <td><%= submission_author submission %></td>
        <td><%= l submission.submitted_at, format: :long %></td>
        <td><%= submission_tutorial_group submission %></td>
        <td>
          <% if submission.submission_evaluation.present? %>
            <%= pluralize submission.submission_evaluation.evaluation_result, "point" %>
          <% else %>
          <em>Not evaluated yet</em>

          <% end %>
        </td>
        <td>
          <% if submission.submission_evaluation.evaluated_at.present? %>
            <%= l submission.submission_evaluation.evaluated_at, format: :long %>
          <% else %>
            <em>Not evaluated yet</em>
          <% end %>
        </td>
        <td>
          <%= link_to "Show", exercise_submission_path(submission.exercise, submission), class: "small small-12 button" %>
          <%= link_to "Evaluate", single_evaluation_path(submission, tutorial_group_id: params[:tutorial_group_id]), class: "small  small-12 button" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No submissions present.</p>
<% end %>
