<% title @exercise.title, pluralize(@submission_count, "Submission") %>

<%= render "exercises/sidebar" %>

<div>
    <% if policy(@exercise).tutorial_group_dropdown? %>
      <%= submissions_tutorial_group_dropdown(@tutorial_group) %>
    <% end %>

    <%= link_to foundation_icon(:plus) + " Add Submission", new_exercise_submission_path(@exercise, tutorial_group_id: params[:tutorial_group_id]), class: 'small button' %>
</div>

<%= render "submissions_list", submissions: @submissions %>


<p>
  <%= paginate @submissions %>
</p>
