<%= simple_form_for @rating, as: :rating, url: [current_course, current_term, @rating.exercise, @rating.rating_group, @rating.becomes(Rating)], remote: true, html: {id: "rating_form"} do |f| %>
  <% @rating.type = @rating.class.name %>
  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>
  <%= f.input :type,
    label: "Type",
    collection: ratings_form_collection,
    as: :select,
    item_wrapper_class: 'inline',
    include_blank: false
    %>

  <div class='rating_value_fields'>
    <%= f.input :value %>
    <%= f.input :min_value %>
    <%= f.input :max_value %>
  </div>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
      <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>