<%= simple_form_for(setup_submission(@submission), url: exercise_student_submission_path(@exercise)) do |f| %>
  <%= field_set_tag do %>
    <% if @submission.errors.any? %>
      <% @submission.errors.full_messages.each do |msg| %>
        <div data-alert class="alert-box alert">
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <%= f.simple_fields_for :submission_assets do |sa_f| %>
      <%= render "submission_asset_fields", f: sa_f %>
    <% end %>

    <%= link_to_add_association "Add File", f, :submission_assets, class: "small button" %>
  <% end %>

  <p>
    <%= f.submit @submission.new_record? ? "Upload Submission" : "Update Submission", class: "small button" %>
  </p>
<% end %>
