<tr>
  <td><%= File.basename submission_asset.file.to_s %></td>
  <td>
    <% if submission_asset.submitted_at.present? %>
      <%= l submission_asset.submitted_at, format: :unix %>
    <% else %>
      unknown
    <% end %>
  </td>
  <td>
    <%= submission_asset.submitter.present? ? submission_asset.submitter.fullname : "unknown" %>
  </td>
  <td>
    <%= submission_asset.filesize %>
  </td>
  <td><%= link_to foundation_icon(:download) + " download", submission_asset_path(submission_asset), class: "small button", target: "_blank" %></td>
</tr>
