<% title @exercise.title, submission_subtitle(@submission) %>
<%= render "exercises/sidebar" %>

<div class='panel'>
  <%  if @exercise.deadline.present?  %>
  <div class='row'>
    <div class='large-6 columns'>
      Deadline: <%= l @exercise.deadline, format: :unix %>
    </div>
    <div class='large-6 columns right-aligned'>
      <% if @exercise.deadline >= Time.now %>
        <strong><%= distance_of_time_in_words @exercise.deadline, Time.now%></strong> left
      <% else %>
        <strong>Deadline has passed <%= distance_of_time_in_words @exercise.deadline, Time.now%> ago</strong>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<% if @submission.submission_assets.any? %>
  <table id='submission_assets_list' class='large-12'>
    <thead>
      <th>Filename</th>
      <th>Submitted at</th>
      <th>Submitted by</th>
      <th>Size (Byte)</th>
      <th></th>
    </thead>
    <tbody>
      <%= render collection: @submission.submission_assets, partial: "submission_asset" %>
    </tbody>
  </table>
<% end %>

<% if policy(@submission).submit? %>
  <%= render "form" %>

  <% if Time.now >= @exercise.deadline && Time.now < @exercise.late_deadline %>
    <div class='panel'>
      <p>
        Uploads will be allowed up to 48 hours after the deadline.
      </p>
      <p>
        If you replace your submission after the deadline, you will incur the points deduction for a late submission.
      </p>
    </div>
  <% end %>
<% else %>

    <h4>No uploads are allowed for this exercise</h4>

<% end %>
