<% title @exercise.title, submission_subtitle(@submission) %>
<%= render "exercises/sidebar" %>

<div class='panel'>
  <% if @exercise.deadline.present?  %>
    <div class='row'>
      <div class='large-6 columns'>
        Deadline: <%= l @exercise.deadline, format: :unix %>
      </div>
      <div class='large-6 columns right-aligned'>
        <% if @exercise.past_deadline? %>
          <strong><%= distance_of_time_in_words @exercise.deadline, Time.now %></strong> left
        <% else %>
          <strong>Deadline has passed <%= distance_of_time_in_words @exercise.deadline, Time.now%> ago</strong>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= render "submission_assets_list", submission_assets: @submission.submission_assets %>

<% if policy(@submission).submit? %>
  <%= render "form" %>

  <% if @exercise.within_late_submission_period? %>
    <div class='panel'>
      <p>
        Uploads will be allowed up to 48 hours after the deadline.
      </p>
      <p>
        If you replace your submission after the deadline, you will incur the points deduction for a late submission.
      </p>
    </div>
  <% end %>
<% else %>
    <h4>No uploads are allowed for this exercise</h4>
<% end %>
