<% title @exercise.title, submission_subtitle(@submission) %>

<%= render "exercises/sidebar" %>

<div class='row'>
  <div class='large-10 columns'>
    <%= render "tree_path", tree: @tree, exercise: @submission.exercise %>
  </div>
  <div class='large-2 columns'>
    <%= link_to foundation_icon(:download), blob_submission_path(@submission, path: params[:path], format: :zip), class: "tiny button" %>
    <%= link_to foundation_icon(:plus), '#', class: "tiny button" %>
  </div>
</div>

<%= render "submission_tree", tree: @tree, exercise: @submission.exercise %>
