<% title tutorial_group_title @tutorial_group %>

<% sidebar do %>
  <div>
  <%= link_to "Add student", course_term_tutorial_group_new_student_registration_path(current_course, current_term, @tutorial_group), class: "small button twelve columns" %>

  <%= link_to set_tutor_label, course_term_tutorial_group_new_tutor_registration_path(current_course, current_term, @tutorial_group), class: "small button twelve columns" %>

  <%= link_to "Edit", edit_course_term_tutorial_group_path(current_course, current_term, @tutorial_group), class: "small button twelve columns" %>

  <%= link_to "Delete", course_term_tutorial_group_path(current_course, current_term, @tutorial_group), class: "small alert button twelve columns", method: :delete, confirm: "Are you sure?" %>
  </div>
<% end %>

<div class="section-container tabs" data-section="tabs">
    <section>
      <p class="title" data-section-title><a href="#">Students</a></p>
      <div class="content" data-section-content>
        <table class='large-12'>
          <thead>
            <th>Forename</th>
            <th>Surname</th>
            <th>Matriculum Number</th>
            <th>Submissions</th>
            <th></th>
          </thead>
          <tbody>
            <% @tutorial_group.students.each do |student|  %>
            <tr>
              <td><%= student.forename %></td>
              <td><%= student.surname %></td>
              <td><%= student.matriculum_number %></td>
              <td><%= student.submissions_for_term(current_term).count %></td>

              <td class='right-aligned'>
                <a href='#' class='tiny button'>SOME</a>
                <a href='#' class='tiny alert button'>BUTTONS</a>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </section>

    <section>
      <p class="title" data-section-title><a href="#">Submissions</a></p>
      <div class="content" data-section-content>
        <%= render "submissions/submissions_list", submissions: @submissions %>
      </div>
    </section>

    <section>
      <p class="title" data-section-title><a href="#">Description</a></p>
      <div class="content" data-section-content>
        <% if @tutorial_group.description? %>
          <%= simple_format @tutorial_group.description %>
        <% else %>
          <p>No description present.</p>
        <% end %>
      </div>
    </section>
</div>
