<% title tutorial_group_title @tutorial_group %>

<% sidebar do %>
  <div>
  <%= link_to set_tutor_label, tutorial_group_new_tutor_registration_path(@tutorial_group), class: "small button twelve columns" %>

  <%= link_to "Edit", edit_tutorial_group_path(@tutorial_group), class: "small button twelve columns" %>

  <%= link_to "Delete", tutorial_group_path(@tutorial_group), class: "small alert button twelve columns", method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Student groups</a></p>
    <div class="content" data-section-content>
      <% if @tutorial_group.student_groups.any? %>
        <table class='large-12'>
          <thead>
            <th>Group</th>
            <th>Students</th>
            <th></th>
          </thead>
          <tbody>
            <% @tutorial_group.student_groups.where{|sg| sg.solitary == false }.each do |student_group|  %>
            <tr>
              <td><%= student_group.title %></td>
              <td><%= student_group.students.count %></td>

                <td class='right-aligned'>
                  <%= link_to foundation_icon(:page_edit), edit_tutorial_group_student_group_path(@tutorial_group, student_group) %>

                  <%= link_to foundation_icon(:x), tutorial_group_student_group_path(@tutorial_group, student_group), method: :delete, data: { confirm: "Are you sure?" } %>
                </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No student groups present.</p>
      <% end %>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Students</a></p>
    <div class="content" data-section-content>
      <% if @tutorial_group.students.any? %>
        <table class='large-12'>
          <thead>
            <th>Forename</th>
            <th>Surname</th>
            <th>Matriculum Number</th>
            <th>Email</th>
            <th>Groups</th>
          </thead>
          <tbody>
            <% @tutorial_group.students.each do |student|  %>
            <tr>
              <td><%= student.forename %></td>
              <td><%= student.surname %></td>
              <td><%= student.matriculum_number %></td>
              <td><%= student.email %></td>
              <td>
                <%= student.student_registrations.joins({student_group: :tutorial_group}).where(student_group: {tutorial_group: {term_id: @term.id}}).map(&:student_group).map(&:title).join ', ' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No students present.</p>
      <% end %>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Submissions</a></p>
    <div class="content" data-section-content>
      <%# TODO: fix that <%= render "submissions/submissions_list", submissions: @submissions %>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Description</a></p>
    <div class="content" data-section-content>
      <% if @tutorial_group.description? %>
        <%= simple_format @tutorial_group.description %>
      <% else %>
        <p>No description present.</p>
      <% end %>
    </div>
  </section>
</div>
