<div class='index_entry course' id="<%= "course_id_#{course.id}" %>">
  <div class='row'>
    <div class='large-12 columns'>
    <h3 class='index_entry_header'>
      <% if course.description.blank? %>
        <%= course.title %>
      <% else %>
        <span data-tooltip class="has-tip" title="<%= course.description.html_safe %>">
          <%= course.title %>
        </span>
      <% end %>
    </h3>
    <span class='index_entry_icons right-aligned'>
      <%= link_to foundation_icon(:page_edit), edit_course_path(course), class: 'index_entry_edit', remote: true, data: {"reveal-id" => "reveal_modal"} if policy(course).update?%>

      <%= link_to foundation_icon(:x), course_path(course), class: 'index_entry_remove', method: :delete, data: { confirm: "Are you sure?" }, remote: true if policy(course).destroy? %>
    </span>
    </div>
  </div>

  <table class='small-12 sortable'>
    <thead>
      <tr>
        <th>Terms</th>
        <th>Exercises</th>
        <th>Tutorial Groups</th>
        <% if policy(course).student_count? %>
          <th>Students</th>
        <% end %>
      </tr>
    </thead>
    <tbody class='term_index_entries'>
      <% if terms.present? %>
        <%= render collection: terms, partial:'terms/index_entry', as: :term, locals: {course: course} %>
      <% else %>
        <%= render "courses/index_entry_no_terms" %>
      <% end %>
    </tbody>
    <% if policy(course).create_term? %>
      <tfoot>
        <tr class="last_one">
          <td colspan='5' class='text-center minimum-width'>
            <%= link_to foundation_icon(:plus), new_term_path(course_id: course.id), remote: true, title: 'Add Term', data: {"reveal-id" => "reveal_modal"}   %>
          </td>
        </tr>
      </tfoot>
    <% end %>
  </table>
</div>
