<% title @course.title %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_path(@course), class: "small button" %>
  <%= link_to "Delete", course_path(@course), method: :delete, class: "small alert button", confirm: "Are you sure?" %>
<% end %>

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Terms</a></p>
    <div class="content" data-section-content>
      <table class='large-12'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Tutorials</th>
            <th>Registered Students</th>
            <th></th>
          </tr>
        </thead>
        <tbody class='term_index_entries'>
          <tr class='index_entry_none term <%= 'hide' if @course.terms.any? %>'>
            <td>No ratings present.</td>
          </tr>

          <% if @course.terms.any? %>
            <%= render collection: @course.terms, partial: 'terms/index_entry', as: :term %>
          <% end %>

          <tr class="last_one">
            <td colspan='4'>
              <div class='row'>
                <div class='large-1 large-centered columns text-center'>
                  <%= link_to "<i class='general foundicon-plus'></i>".html_safe, new_course_term_path(@course), remote: true, title: 'Add Term', data: {"reveal-id" => "reveal_modal"}   %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>



      <p><%= link_to "Add Term", new_course_term_path(@course), class: "button" %></p>



    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Description</a></p>
    <div class="content" data-section-content>
      <% if @course.description? %>
        <%= simple_format @course.description %>
      <% else %>
        <p>No description present.</p>
      <% end %>
    </div>
  </section>
</div>

<%= render 'application/reveal_modal' %>
