<% title @course.title %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_path(@course), :class => "small button" %>
  <%= link_to "Delete", course_path(@course), :method => :delete, :class => "small alert button", :confirm => "Are you sure?" %>
<% end %>

<dl class='tabs'>
  <dd class='active'><a href='#terms'>Terms</a></dd>
  <dd><a href='#description'>Description</a></dd>
</dl>

<ul class='tabs-content'>
  <li class='active' id='termsTab'>
    <% if @terms.any? %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Tutorials</th>
          <th>Registered Students</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @terms.each do |term| %>
        <tr>
          <th><%= term.title %></th>
          <td><%= pluralize term.tutorial_groups.count, "Tutorial" %></td>
          <td><%= term.students.count %></td>
          <td>
            <%= link_to "View", course_term_path(@course, term), :class => "tiny button" %>
            <%= link_to "Edit", edit_course_term_path(@course, term), :class => "tiny button" %>
            <%= link_to "Delete", course_term_path(@course, term), :class => "tiny alert button", :method => :delete, :confirm => "Are you sure?" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
      <p>No terms present.</p>
    <% end %>
    <%= link_to "Add Term", new_course_term_path(@course), :class => "button" %>
  </li>
  <li id='descriptionTab'>
    <%= simple_format @course.description %>
  </li>
</ul>