<% title @course.title %>


<div class='row'>
  <div class='nine columns'><h1><%= @course.title %></h1></div>
  <div class='three right-aligned columns'><%= link_to "Edit course", edit_course_path(@course), :class => "button" %></div>
</div>


<dl class='tabs'>
  <dd class='active'><a href='#terms'>Terms</a></dd>
  <dd><a href='#description'>Description</a></dd>
  <dd><a href='#tutors'>Tutors</a></dd>
</dl>

<ul class='tabs-content'>
  <li class='active' id='termsTab'>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Tutorials</th>
          <th>Registered Students</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @terms.each do |term| %>
        <tr>
          <th><%= term.title %></th>
          <td><%= pluralize term.tutorial_groups.count, "Tutorial" %></td>
          <td><%= term.students.count %></td>
          <td><%= link_to "View", term, :class => "tiny button" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to "Add Term", new_term_path(:course_id => @course), :class => "button" %>
  </li>
  <li id='descriptionTab'>
    <div class='panel'>
      should we support textile or markdown?
    </div>
    <%= simple_format @course.description %>
  </li>
  <li id='tutorsTab'>
    <div class='panel'>
      Dummy Data
    </div>
  </li>
</ul>