<% content_for :top_bar do %>
  <div class='evaluation-top-bar-push'></div>
  <div class='evaluation-bar evaluation-top-bar'>
    <div class='row bar'>
      <div class='small-12 columns'>
        <h1><%= submission_author(submission) %></h1>
      </div>

      <div class='small-6 columns'>
        <div class='evaluation-result'>
          <span id='evaluation_result'><%= submission_evaluation_pluralized_points submission.submission_evaluation %></span>
        </div>
      </div>

      <div class='small-6 large-4 columns text-right buttons'>
        <%= link_to "Notes", submission_evaluation_notes_path(submission.submission_evaluation), class: "small internal button", remote: true, data: {"reveal-id" => "reveal_modal"} %>
        <%= link_to "Feedback", submission_evaluation_comments_path(submission.submission_evaluation), class: "small button", remote: true, data: {"reveal-id" => "reveal_modal"} %>
        <%= link_to "Edit", edit_submission_path(submission), class: "small button" %>
        <%= link_to "Open Viewer", submission_viewer_path(submission), class: "small button", target: "sapphire_submission_viewer" if submission.exercise.submission_viewer? %>
        <%= link_to "Files", tree_submission_path(submission), class: "small button" %>
      </div>
    </div>
  </div>
<% end %>

