<% content_for :top_bar do %>
  <div class='evaluation-top-bar-push'></div>
  <div class='evaluation-bar evaluation-top-bar'>
    <div class='row bar'>
      <div class='small-12 columns'>
        <h1><%= submission_author(submission) %></h1>
      </div>

      <div class='small-3 columns'>
        <div class='evaluation-result'>
          <span id='evaluation_result'><%= submission_evaluation_pluralized_points submission.submission_evaluation %></span>
        </div>
      </div>

      <div class='small-9 large-7 columns text-right buttons'>
        <%= internal_comment_button(submission.submission_evaluation) %>
        <%= feedback_comment_button(submission.submission_evaluation) %>
        <%= link_to "Edit", edit_submission_path(submission), class: "small button" %>
        <%= link_to "Open Viewer", submission_viewer_path(submission), class: "small button", target: "sapphire_submission_viewer" if submission.exercise.submission_viewer? %>
        <%= link_to "Files", tree_submission_path(submission), class: "small button" %>
      </div>
    </div>
  </div>
<% end %>
