<div id="grading_scale">
  <table class='small-12 medium-9 medium-centered grid-center' id='grading_scale_table'>
    <thead>
      <th>Grade</th>
      <th colspan=3 class='text-center'>Points</th>
      <th>Students</th>
      <th>Percent</th>
    </thead>
    <tbody>
      <% grading_scale.grading_ranges.each do |grading_range| %>
        <tr>
          <th class='minimum-width text-center'><%= grading_range.grade %></th>
          <td class='text-right'>
            <%= grading_range.minimum_points %>
          </td>
          <td class='minimum-width'>-</td>
          <td class='minimum-width text-right'>
            <%= grading_range.maximum_ui_points %>
          </td>
          <td class='minimum-width text-right'>
            <%= grading_range.student_count %>
          </td>
          <td class='minimum-width text-right'>
            <%= number_to_percentage grading_scale.percent_for(grading_range.grade), precision: 1 %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>Sum</th>
        <td colspan='3'></td>
        <td class='text-right minimum-width'><%= grading_scale.graded_count %></td>
        <td></td>
      </tr>
      <tr><td colspan='6'><hr></td></tr>
      <tr>
        <td class='minimum-width text-center'>0</td>
        <td colspan='3'>&nbsp;</td>
        <td class='minimum-width text-right'>
          <%= grading_scale.ungraded_count %>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
