<% title "#{term.course.title} Results #{term.title}" %>

<% if true %>
  <p>
    These are the <em>provisional</em> results. We do occasionally make
    mistakes, for example when entering points into a spreadsheet or
    adding up points. Should we find any mistakes in the grading, the
    provisional grade will be corrected.
  </p>
<% else %>
  <p>
  These are the <em>final</em> results, including any corrections
  from the grading review.
  </p>
<% end %>

<div class='large-6 columns'>

  <%= render partial: 'points_overview/grade_distribution', locals: { grading_scale: grading_scale } %>
</div>

<div class='large-6 columns'>
  <table class='left'>
    <thead>
      <th>Exercise</th>
      <th>Minimum Points</th>
      <th>Maximum Points possible</th>
    </thead>

    <tbody>
      <% term.exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.title %></td>

          <% if exercise.enable_min_required_points %>
            <td class='text-center'><%= exercise.min_required_points %></td>
          <% else %>
            <td class='text-center'>&nbsp;</td>
          <% end %>

          <% if exercise.enable_max_total_points %>
            <td class='text-center'><%= exercise.max_total_points %></td>
          <% else %>
            <td class='text-center'><%= exercise.points %></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td>Sum</td>
        <td>&nbsp;</td>
        <td class='text-center'><%= term.points %></td>
      </tr>
    </tbody>
  </table>
</div>
