<% title "#{term.course.title} Results #{term.title}" %>

<p>
  These are the <em>provisional</em> results. We do occasionally make
  mistakes, for example when entering points into a spreadsheet or
  adding up points. Should we find any mistakes in the grading, the
  provisional grade will be corrected.
</p>

<div class='row'>
  <div class='small-12 large-6 columns'>
    <%= render 'points_overview/grade_distribution', grading_scale: grading_scale %>
  </div>

  <div class='small-12 large-6 columns'>
    <table class='small-12'>
      <thead>
        <th>Exercise</th>
        <th>Minimum Points</th>
        <th>Maximum Points Possible</th>
      </thead>

      <tbody>
        <% term.exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.title %></td>

            <td class='text-center'><%= exercise.min_required_points if exercise.enable_min_required_points %></td>

            <td class='text-center'><%= exercise.achievable_points %></td>
          </tr>
        <% end %>
        <tr>
          <td>Sum</td>
          <td>&nbsp;</td>
          <td class='text-center'><%= grading_scale.maximum_ui_points %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
