<% title "#{term.course.title} Results #{term.title}" %>

<p>
  These are the <em>provisional</em> results. We do occasionally make
  mistakes, for example when entering points into a spreadsheet or
  adding up points. Should we find any mistakes in the grading, the
  provisional grade will be corrected.
</p>

<div class='row'>
  <div class='small-12 large-6 columns'>
    <%= render 'points_overview/grade_distribution', grading_scale_service: grading_scale_service %>
  </div>

  <div class='small-12 large-6 columns'>
    <table class='small-12'>
      <thead>
        <th>Exercise</th>
        <th class='text-right'>Minimum Points</th>
        <th class='text-right'>Maximum Points Possible</th>
      </thead>

      <tbody>
        <% term.exercises.each do |exercise| %>
          <tr>
            <td><%= exercise.title %></td>
            <td class='text-right'>
              <%= exercise.min_required_points if exercise.enable_min_required_points %>
            </td>
            <td class='text-right'><%= exercise.achievable_points %></td>
          </tr>
        <% end %>
        <tr>
          <td>Sum</td>
          <td>&nbsp;</td>
          <td class='text-right'><%= term.achievable_points %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
