<% title "#{term.course.title} Results #{term.title}" %>

<% if true %>
  <p>
    These are the <em>provisional</em> results. We do occasionally make
    mistakes, for example when entering points into a spreadsheet or
    adding up points. Should we find any mistakes in the grading, the
    provisional grade will be corrected.
  </p>
<% else %>
  <p>
  These are the <em>final</em> results, including any corrections
  from the grading review.
  </p>
<% end %>

<div class='large-6 columns'>







<table class='large-centered grid-center'>
    <thead>
      <th>Grade</th>
      <th colspan=3 class='text-center'>Points</th>
      <th>Students</th>
      <th>Percent</th>
    </thead>
    <tbody>
      <% @grading_scale.reverse.each_with_index do |item, index| %>
        <tr>
          <th class='minimum-width text-center'><%= item[1] %></th>
          <td class='text-right'>
            <%= item[0] %>
          </td>
          <td class='minimum-width'>-</td>
          <td class='minimum-width text-right'>
            <% if index-1 >= 0 %>
              <%= @grading_scale.reverse[index-1][0] - 1 %></td>
            <% else %>
              <%= @term.points %>
            <% end %>
          </td>
          <td class='minimum-width text-right'>
            <%= @grade_distribution[item[1]] %>
          </td>
          <td class='minimum-width text-right'>
            <%= student_grade_percentage @students, @grade_distribution, item[1] %>
          </td>
        </tr>
      <% end %>
      <tr><td colspan='6'><hr></td></tr>
      <tr>
        <td class='minimum-width text-center'>0</td>
        <td colspan='3'>&nbsp;</td>
        <td class='minimum-width text-right'>
          <%= @grade_distribution['0'] %>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>












  <table class='right'>
    <thead>
      <th>Grade</th>
      <th colspan='3'>Points</th>
    </thead>

    <tbody>
      <% term.grading_scale.reverse.each_with_index do |item, index| %>
        <% if index-1 >= 0 %>
          <% high = term.grading_scale.reverse[index-1][0] - 1 %></td>
        <% else %>
          <% high = term.points %>
        <% end %>

        <tr>
          <td class='text-center'>
            <%= item[1] %>
          </td>
          <td class='text-right'>
            <%= "#{item[0]}" %>
          </td>
          <td>-</td>
          <td class='text-right'>
            <%= "#{high}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='large-6 columns'>
  <table class='left'>
    <thead>
      <th>Exercise</th>
      <th>Minimum Points</th>
      <th>Maximum Points possible</th>
    </thead>

    <tbody>
      <% term.exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.title %></td>

          <% if exercise.enable_min_required_points %>
            <td class='text-center'><%= exercise.min_required_points %></td>
          <% else %>
            <td class='text-center'>&nbsp;</td>
          <% end %>

          <% if exercise.enable_max_total_points %>
            <td class='text-center'><%= exercise.max_total_points %></td>
          <% else %>
            <td class='text-center'><%= exercise.points %></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td>Sum</td>
        <td>&nbsp;</td>
        <td class='text-center'><%= term.points %></td>
      </tr>
    </tbody>
  </table>
</div>
