<div class='row'>
  <div class='large-12 columns'>
    <h2 class='subheader'>
      <%= "#{tutorial_group.title} #{tutorial_group.tutor.forename unless tutorial_group.tutor.blank?}" %>
    </h2>

    <table>
      <thead>
        <th>MatrNr</th>
        <% term.exercises.each do |exercise| %>
          <th><%= exercise.title %></th>
        <% end %>
        <th>Sum</th>
        <th>Grade</th>
      </thead>

      <tbody>
        <% tutorial_group.students.sort_by{ |a| a[:matriculation_number] }.each do |student| %>
          <tr>
            <td class="text-center">
              <%= student.matriculation_number %>
            </td>

            <% term.exercises.each do |exercise| %>
              <td class="text-right">
                <%= exercise_result tutorial_group, student, exercise %>
              </td>
            <% end %>

            <td class="text-right">
              <%= total_points term, student %>
            </td>
            <td class="text-center">
              <%= final_grade term, student %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><small>Sorted by MatrNr, 9x numbers at the bottom.</small></p>
  </div>
</div>
