<div class='row'>
  <div class='large-12 columns'>
    <h2 class='subheader'>
      <%= tutorial_group_title(tutorial_group) %>
    </h2>

    <table>
      <thead>
        <th>MatrNr</th>
        <% term.exercises.each do |exercise| %>
          <th><%= exercise.title %></th>
        <% end %>
        <th>Sum</th>
        <th>Grade</th>
      </thead>

      <tbody>
        <% term_registrations.each do |registration| %>
          <tr>
            <td class="text-center">
              <%= registration.account.matriculation_number %>
            </td>

            <% term.exercises.each do |exercise| %>
              <td class="text-right">
                <%= exercise_result registration, exercise %>
              </td>
            <% end %>

            <td class="text-right">
              <%= registration.points || 0%>
            </td>
            <td class="text-center">
              <%= grading_scale_service.grade_for(registration) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p><small>Sorted by MatrNr, 9x numbers at the bottom.</small></p>
  </div>
</div>
