<div id="grading_scale">
  <table class='large-centered grid-center' id='grading_scale_table'>
    <thead>
      <th>Grade</th>
      <th colspan=3 class='text-center'>Points</th>
      <th>Students</th>
      <th>Percent</th>
    </thead>
    <tbody>
      <% grading_scale.grades.each do |grade| %>
        <tr>
          <th class='minimum-width text-center'><%= grade %></th>
          <td class='text-right'>
            <% if grade == grading_scale.grades.last %>
              <%= grading_scale.min_points_for(grade) %>
            <% else %>
              <%= simple_form_for :term, url: term_grading_scale_path(grading_scale.term), method: :patch do |f| %>
                <%= f.number_field "grading_scale[#{grade}]",
                  value: grading_scale.min_points_for(grade),
                  min: 1,
                  max: term.points > 0 ? (term.points-1) : 9999,
                  class: 'margin-none' %>
              <% end %>
            <% end %>
          </td>
          <td class='minimum-width'>-</td>
          <td class='minimum-width text-right'>
            <%= grading_scale.max_points_for(grade) %>
          </td>
          <td class='minimum-width text-right'>
            <%= grading_scale.count_for(grade) %>
          </td>
          <td class='minimum-width text-right'>
            <%= number_to_percentage grading_scale.percent_for(grade), precision: 1 %>
          </td>
        </tr>
      <% end %>
      <tr><td colspan='6'><hr></td></tr>
      <tr>
        <td class='minimum-width text-center'>0</td>
        <td colspan='3'>&nbsp;</td>
        <td class='minimum-width text-right'>
          <%= grading_scale.ungraded_count %>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
