<%= cache [submission, directory.path, policy(submission).update?] do %>
<table class='small-12 sortable'>
  <thead>
    <tr>
      <th data-sort-disabled="true"></th>
      <th data-sort-default="true"><%= SubmissionStructure::File.human_attribute_name(:name) %></th>
      <th class='modification-date'><%= SubmissionStructure::File.human_attribute_name(:mtime) %></th>
      <th><%= SubmissionStructure::File.human_attribute_name(:submitter) %></th>
      <th class='size'><%= SubmissionStructure::File.human_attribute_name(:size) %></th>
      <% if submission.modifiable_by_students? %>
        <th data-sort-disabled="true"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% unless directory.root? %>
      <tr data-sort-top="true">
        <td class='icon'></td>
        <td>
          <%= link_to "..", tree_submission_path(submission, path: directory.parent.path_without_root), title: "Goto parent folder" %>
        </td>
        <td class='modification-date'><%= submission_tree_modification_date(directory.parent.mtime) %></td>
        <td></td>
        <td class='size'><%= filesize directory.size %></td>
        <% if submission.modifiable_by_students? %>
          <td></td>
        <% end %>
      </tr>
    <% end %>

    <% directory.entries.sort_by(&:name).each do |entry| %>
      <tr>
        <td class='icon'>
          <%= foundation_icon entry.icon %>
        </td>
        <td>
          <% if entry.file? %>
            <%= link_to entry.name, submission_asset_path(entry.submission_asset), target: "_blank" %>
            <% if entry.submission_asset.archive? %>
              &mdash; Extraction: <%= submission_asset_extraction_status(entry.submission_asset) %>
              <% if entry.submission_asset.extraction_failed? %>
                <%= content_tag :span, foundation_icon(:info), data: {tooltip: true}, title: "This ZIP archive could not be fully extracted. This usually happens when the zip contains one or more files are that already present in your submission." %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to entry.name, tree_submission_path(submission, path: entry.path_without_root) %>
          <% end %>
        </td>
        <td class='modification-date' data-sort="<%= entry.mtime %>" data-sort-as="integer"><%= submission_tree_modification_date(entry.mtime) %></td>
        <% if entry.file? %>
          <td><%= submission_tree_submitter(entry.submitter) %></td>
        <% else %>
          <td></td>
        <% end %>
        <td class='size' data-sort="<%= entry.size %>" data-sort-as="integer"><%= filesize entry.size %></td>
        <% if submission.modifiable_by_students? %>
          <td class='buttons'>
            <% if entry.file? %>
              <%= link_to foundation_icon(:x), submission_asset_path(entry.submission_asset), method: :delete, data: {confirm: "Are you sure, that you want to remove this file?"}, class: "tiny alert button" %>
            <% else %>
              <%= link_to foundation_icon(:x), tree_submission_path(submission, path: entry.path_without_root), method: :delete, data: {confirm: "Are you sure, that you want to remove the whole directory?"}, class: "tiny alert button" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>