<li>
  <%= foundation_icon node.icon %>


  <% if node.directory? %>
    <%= link_to "#{node.name}/", exercise_submission_tree_path(submission.exercise, submission, node.relative_path) %>
  <% else %>
    <%= node.name %>
  <% end %>
  (<%= number_to_human_size node.size %>)

  <%= render "submission_tree/directory_node", node: node, submission: submission if node.directory? %>
</li>
