<% title @exercise.title, submission_subtitle(@submission) %>

<%= render "exercises/sidebar" %>

<%= render "toolbar", submission: @submission, tree: @tree %>

<%= render "submission_tree_path", tree: @tree, submission: @submission %>

<% if @submission.submission_assets.any? %>
  <%= render "submission_directory", tree: @tree, submission: @submission %>
<% else %>
  <p>
    This submission does not contain any files.
  </p>
<% end %>

<%= render "upload_modal", submission_upload: @submission_upload %>
<%= render "change_folder_modal", submission: @submission, tree: @tree %>
