<% title @exercise.title, submission_author(@submission) %>

<%= render "terms/sidebar", term: @term %>
<%= render "exercises/subnav", exercise: @exercise %>

<%= render "toolbar", tree: @tree, directory: @directory, submission_upload: @submission_upload %>

<%= cache [@submission, @directory.path, policy(@submission).update?] do %>
  <%= render "submission_tree_path", directory: @directory, submission: @submission %>

  <%= content_tag :div, class: "submission-tree", data: { update_url: tree_directory_submission_path(@submission, path: @directory.path_without_root.presence, format: :json) } do %>
    <% if @submission.submission_assets.any? %>
      <%= render "submission_directory", directory: @directory, submission: @submission %>
    <% else %>
      <p>
        This submission does not contain any files.
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render "upload_modal", submission_upload: @submission_upload %>
<%= render "change_folder_modal", submission_upload: @submission_upload, directory: @directory %>
