<div class='evaluations-list small-3 columns'>
  <h2 id='evaluation_result'><%= single_evaluation_pluralized_points @submission.submission_evaluation.evaluation_result %></h2>
  <div class='scrollable'>
    <div class="section-container">
      <% @evaluation_groups.ranked.each_with_index do |evaluation_group, i| %>
      <section>
        <p class='title' id='<%= single_evaluation_evaluation_group_id(evaluation_group) %>'>
          <%= single_evaluation_evaluation_group_title evaluation_group %>
        </p>
        <div class="content">
          <ul class='ratings-list'>
          <% evaluation_group.evaluations.ranked.each do |evaluation| %>
            <%= single_evaluation_input(evaluation) %>
          <% end %>
          </ul>
        </div>
      </section>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='small-6 columns'>
      <%= previous_single_evaluation_button(@previous_submission) %>
    </div>
    <div class='small-6 columns'>
      <%= next_single_evaluation_button(@next_submission) %>
    </div>
  </div>
</div>
