<div class='sticky'>
  <nav class='top-bar'>
    <ul class='title-area'>
      <li class='name'>
        <h1><%= link_to "Sapphire", root_path %></h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'><span>Menu</span></a>
      </li>
    </ul>

    <section class='top-bar-section'>
      <% if account_signed_in? %>
        <% if term_context? %>
          <%= render "term_context_navigation" %>
        <% else %>
          <%= render "no_context_navigation" %>
        <% end %>
      <% else %>
        <%= render "public_navigation" %>
      <% end %>
    </section>

    <% if account_signed_in? %>
      <section class='top-bar-section'>
        <ul class='right'>
          <li class='divider'></li>
          <li class='has-dropdown'>
            <%= link_to current_account.email, edit_account_path(current_account) %>
            <ul class='dropdown'>
              <li><%= link_to 'Edit Account', edit_account_path(current_account) %></li>
              <li><%= link_to 'Logout', destroy_account_session_path, method: :delete %></li>
            </ul>
          </li>

        </ul>
      </section>
    <% end %>
  </nav>
</div>
