<nav class='top-bar'>
  <ul>
    <li class='name'>
      <h1>
        <%= link_to "Sapphire", root_path %>
      </h1>
    </li>
    <li class='toggle-topbar'><a href='#'></a></li>
  </ul>
  <section>
    <ul class='left'>
      <li class='divider'></li>
      <li class='has-dropdown'>
        <%= link_to "Students", term_registrations_path(:view => "mine") %>
        <ul class='dropdown'>
          <li><%= link_to "View your Students", term_registrations_path(:view => "mine") %></li>
          <li><%= link_to "All Students for this term", term_registrations_path  %></li>
          <li><%= link_to "All avaliable Students", students_path  %></li>
        </ul>
      </li>
      <li class='has-dropdown'>
        <%= link_to "Exercises", '#' %>
        <ul class='dropdown'>
          <li><%= link_to "Exercise 1", "#" %></li>
          <li><%= link_to "Exercise 2", "#" %></li>
          <li><%= link_to "Exercise 3.1", "#" %></li>
          <li><%= link_to "Exercise 3.2", "#" %></li>
          <li><%= link_to "Exercise 4", "#" %></li>
          <li><%= link_to "Exercise 5", "#" %></li>
        </ul>
      </li>
      <li>
        <%= link_to "Statistics", '#' %>
      </li>
      <li class='divider'></li>
      <li class='has-dropdown'>
        <%= link_to "Import/Export", import_root_path %>
        <ul class='dropdown'>
          <li><%= link_to "Import Students", import_student_imports_path %></li>
        </ul>
      </li>

    </ul> 
      
    <ul class='right'>
      <li><%= link_to "My Account", '#' %></li>
      <li class='divider'></li>
      <li class='has-dropdown'>
        <%= link_to current_course_term_title, context_index_path %>
        <ul class='dropdown'>
          <li><label>Choose another course</label></li>
          <%= navigation_context_selector %>
        </ul>
      </li>
    </ul>
    
  </section>
</nav>