<ul class='left'>
  <li class='divider'></li>
  <li class='has-dropdown'>
    <%= link_to "Courses", courses_path %>
    <ul class='dropdown'>
      <% if Course.any? %>
        <% Course.all.each do |course| %>
          <li class='<%= course.terms.any? ? "has-dropdown" : "" %>'>
            <%= link_to course.title, course_path(course) %>

            <% if course.terms.any? %>
              <ul class='dropdown'>
                <% course.terms.each do |term| %>
                  <li><%= link_to term.title, course_term_path(course, term) %></li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li><%= link_to "(no courses)", '#' %></li>
      <% end %>
    </ul>
  </li>
</ul>