<ul class='left'>
  <li class='divider'></li>

  <%= render 'course_term_navigation' %>

  <li class='divider'></li>

  <li class='has-dropdown'>
    <%= link_to "Exercises", term_exercises_path(@term) %>
    <ul class='dropdown'>
      <% if (exercises = @term.exercises(true)).any? %>
        <% exercises.each do |exercise| %>
          <li><%= exercise_topbar_link exercise %></li>
        <% end %>
      <% else %>
        <li><%= link_to "(no exercises)", '#' %></li>
      <% end %>
    </ul>
  </li>

  <li class='has-dropdown'>
    <%= link_to "Tutorial Groups", "#{term_path(@term)}#tutorial_groups" %>
    <ul class='dropdown'>
      <% if @term.tutorial_groups(true).any? %>
        <% @term.tutorial_groups.each do |tutorial_group| %>
          <li><%= link_to tutorial_group_title(tutorial_group), tutorial_group_path(tutorial_group) %></li>
        <% end %>
      <% else %>
        <li><%= link_to "(no tutorial groups)", '#' %></li>
      <% end %>
    </ul>
  </li>
</ul>
