<ul class='left'>
  <li class='divider'></li>

  <li class='has-dropdown'>
    <%= link_to_current_term %>
    <ul class='dropdown'>
      <% if Term.includes(:course).all.any? %>
        <li><label>Choose:</label></li>
        <% Term.all.each do |term| %>
          <li><%= link_to(course_term_title(term.course, term), course_term_path(term.course, term)).html_safe %></li>
        <% end %>
      <% else %>
        <p>No terms present.</p>
      <% end %>
    </ul>
  </li>

  <li class='divider'></li>

  <li class='has-dropdown'>
    <%= link_to "Exercises", '#' %>
    <ul class='dropdown'>
      <% if current_term.exercises(true).any? %>
        <% current_term.exercises.each do |exercise| %>
          <li><%= link_to exercise.title, course_term_exercise_path(current_course, current_term, exercise) %></li>
        <% end %>
      <% else %>
        <li><%= link_to "(no exercises)", '#' %></li>
      <% end %>
    </ul>
  </li>

  <li class='has-dropdown'>
    <%= link_to "Tutorial Groups", '#' %>
    <ul class='dropdown'>
      <% if current_term.tutorial_groups(true).any? %>
        <% current_term.tutorial_groups.each do |tutorial_group| %>
          <li><%= link_to tutorial_group_title(tutorial_group), course_term_tutorial_group_path(current_course, current_term, tutorial_group) %></li>
        <% end %>
      <% else %>
        <li><%= link_to "(no tutorial groups)", '#' %></li>
      <% end %>
    </ul>
  </li>
</ul>