<ul class='left'>
  <li class='divider'></li>

  <%= navigation_context_selector %>

  <li class='divider'></li>
  
  <li class='has-dropdown'>
    <%= link_to "Exercises", '#' %>
    <ul class='dropdown'>
      <% if current_term.exercises(true).any? %>
        <% current_term.exercises.each do |exercise| %>
          <li><%= link_to exercise.title, course_term_exercise_path(current_course, current_term, exercise) %></li>
        <% end %>
      <% else %>
        <li><%= link_to "(no exercises)", '#' %></li>
      <% end %>
    </ul>
  </li>

  <li class='has-dropdown'>
    <%= link_to "Tutorial Groups", '#' %>
    <ul class='dropdown'>
      <% if current_term.tutorial_groups(true).any? %>
        <% current_term.tutorial_groups.where { course_id != nil && term_id != nil }.each do |tutorial_group| %>
          <li><%= link_to "#{tutorial_group.title} #{tutorial_group.tutor.nil? ? "(no tutor)" : "(#{tutorial_group.tutor.fullname})" }", '#' %></li>
          <li><%#= link_to tutorial_group.title, course_term_tutorial_group_path(current_course, current_term, tutorial_group) %></li>
        <% end %>
      <% else %>
        <li><%= link_to "(no tutorial groups)", '#' %></li>
      <% end %>
    </ul>
  </li>

  <li class='has-dropdown'>
    <%= link_to "Student registrations", course_term_term_registrations_path(current_course, current_term) %>
    <ul class='dropdown'>
      <li><%= link_to "View your Students", my_course_term_term_registrations_path(current_course, current_term) %></li>
      <li><%= link_to "All Students for this term", course_term_term_registrations_path(current_course, current_term)  %></li>
    </ul>
  </li>
</ul>