<%= simple_form_for @exercise do |f| %>

  <%= f.input :term_id, as: :hidden %>

  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>

  <%= f.input :deadline, as: :datetime_picker %>
  <%= f.input :late_deadline, as: :datetime_picker %>

  <%= f.input :visible_points, label: "Maximum Points shown in UI - (leave blank to use internal calculated points)" %>

  <%= f.input :enable_student_uploads, label: "Enable student uploads" %>
  <%= f.input :group_submission %>

  <%= f.input :enable_min_required_points, label: 'Minimum points required for positive grade' %>
  <%= f.input :min_required_points, label: false,
    wrapper_html: {class: ('hide' unless @exercise.enable_min_required_points)} %>

  <%= f.input :enable_max_total_points, label: 'Maximum points in total' %>
  <%= f.input :max_total_points, label: false,
    wrapper_html: {class: ('hide' unless @exercise.enable_max_total_points)} %>

  <%= f.input :enable_max_upload_size, label: 'Maximum upload size' %>
  <%= f.input :maximum_upload_size, label: false,
    wrapper_html: {class: ('hide' unless @exercise.enable_max_upload_size)} %>


  <%= f.input :submission_viewer_identifier, collection: submission_viewer_form_collection, as: :select %>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
        <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
