<%= simple_form_for exercise do |f| %>

  <%= f.input :term_id, as: :hidden %>

  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>

  <%= f.input :instructions_url %>

  <%= f.input :deadline, as: :datetime_picker, label: "Submission" %>
  <%= f.input :late_deadline, as: :datetime_picker, label: "Disable Submission (Late Deadline)" %>

  <%= f.input :visible_points, label: "Maximum Points shown in UI - (leave blank to use internal calculated points)" %>

  <%= f.input :enable_student_uploads, label: "Enable student uploads" %>
  <%= f.input :group_submission, wrapper: :blocked_radio_buttons, as: :radio_buttons, collection: {"Group Submission" => true,  "Individual Submission" => false} %>

  <%= f.input :enable_min_required_points, label: 'Minimum points required for positive grade ▾' %>
  <%= f.input :min_required_points, label: false,
    wrapper_html: {class: ('hide' unless @exercise.enable_min_required_points)} %>

  <%= f.input :enable_max_total_points, label: 'Maximum points in total ▾' %>
  <%= f.input :max_total_points, label: false,
    wrapper_html: {class: ('hide' unless @exercise.enable_max_total_points)} %>

  <%= f.input :enable_max_upload_size, label: 'Maximum upload size ▾' %>
  <%= f.input :maximum_upload_size, label: false,
    wrapper_html: {class: ('hide' unless @exercise.enable_max_upload_size)} %>

  <%= f.input :enable_bulk_submission_management, label: "Enable bulk operations" %>
  <%= f.input :submission_viewer_identifier, collection: submission_viewer_form_collection, as: :select %>

  <%= f.input :enable_multiple_attempts, label: "Enable multiple attempts ▾"%>
  <fieldset id='exercise_attempts' class='<%= "hide" unless @exercise.enable_multiple_attempts? %>'>
    <table class='attempts small-12'>
      <tbody>
        <%= f.simple_fields_for(:attempts) do |attempt| %>
          <%= render "attempt_fields", f: attempt %>
        <% end %>
      </tbody>
    </table>
    <%= link_to_add_association "Add attempt", f, :attempts, class: "small secondary button", data: {association_insertion_node: "#exercise_attempts table.attempts", association_insertion_method: "append"} %>
  </fieldset>
  <% if @exercise.errors[:attempts].present? %>
    <div class='error'><%= f.full_error :attempts %></div>
  <% end %>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
        <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
