<%= simple_form_for [current_course, current_term, @exercise] do |f| %>
  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>
  <%= f.input :group_submission %>

  <%= f.input :enable_max_points %>
  <%= f.input :max_points %>

  <%= f.input :deadline, as: :datetime_picker %>
  <%= f.input :late_deadline, as: :datetime_picker %>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
        <%= link_to "Cancel", (@exercise.new_record? ?
            course_term_exercises_path(current_course, current_term) :
            course_term_exercise_path(current_course, current_term, @exercise)), class: "secondary button" %>
        <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
