<%= simple_form_for @exercise do |f| %>
  <%= f.input :term_id, as: :hidden %>

  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 3 } %>
  <%= f.input :group_submission %>

  <%= f.input :enable_max_points %>
  <%= f.input :max_points %>

  <%= f.input :deadline, as: :datetime_picker %>
  <%= f.input :late_deadline, as: :datetime_picker %>

  <div class='row'>
    <div class='large-12 large-centered columns text-center'>
        <%= link_to "Cancel", (@exercise.new_record? ?
            term_path(@exercise.term) :
            exercise_path(@exercise)), class: "secondary button" %>
        <%= f.submit class: "button" %>
    </div>
  </div>
<% end %>
