<% title course_term_title, "Exercises" %>

<%= render "terms/sidebar", term: @term %>


<% if @exercises.any? %>
  <table class='small-12 sortable'>
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Type</th>
        <th>Submission</th>
        <% if policy(@exercises.first).edit? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercise| %>
        <tr>
          <td data-sort='<%= exercise.title %>'><%= conditional_submissions_link exercise %></td>
          <td><%= exercise_submission_type exercise %></td>
          <td><%= exercise.deadline.present? ? l(exercise.deadline, format: :unix) : content_tag(:em, "not defined") %></td>

          <% if policy(exercise).edit? %>
            <td class="text-center min-width"><%= link_to foundation_icon(:pencil), edit_exercise_path(exercise) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No exercises present</p>
<% end %>

<% if policy(Exercise.new(term: @term)).create? %>
<p>
  <%= link_to "Add Exercise", new_term_exercise_path(@term), class: "small button" %>
</p>
<% end %>
