<% title @exercise.title %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_term_exercise_path(current_course, current_term, @exercise), class: "small button" %>
  <%= link_to "Delete", course_term_exercise_path(current_course, current_term, @exercise), method: :delete, class: "small alert button", confirm: "Are you sure?" %>
<% end %>

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Rating Groups</a></p>
    <div class="content" data-section-content>
      <% if @exercise.rating_groups.any? %>
        <% @exercise.rating_groups.each do |rating_group| %>
          <div>
            <div>
              <h3><%= link_to rating_group_full_title(rating_group), course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group) %></h3>
            </div>

            <% if rating_group.ratings.any? %>
              <table class='large-12'>
                <thead>
                  <tr>
                    <th class='large-10'>Title</th>
                    <th class='large-2 columns'>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <% rating_group.ratings.each do |rating| %>
                    <tr>
                      <td><%= link_to_rating rating.title, rating %></td>

                      <td class='right-aligned'>
                        <%= rating_points_description rating %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <p>No ratings present.</p>
            <% end %>
          </div>
        <% end %>


      <% else %>
        <p>No rating groups present.</p>
      <% end %>

      <p>
        <%= link_to "Add Rating Group", new_course_term_exercise_rating_group_path(current_course, current_term, @exercise), class: "small button" %>
      </p>

      <p><a href="#" data-reveal-id="new_rating_group_modal" class='button'>SHOW ME</a></p>

    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Evaluations</a></p>
    <div class="content" data-section-content>
      <p>No evaluations present.</p>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Submissions</a></p>
    <div class="content" data-section-content>
      <%= render "submissions/submissions_list", submissions: @exercise.submissions %>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Description</a></p>
    <div class="content" data-section-content>
      <% if @exercise.description? %>
        <%= simple_format @exercise.description %>
      <% else %>
        <p>No description present.</p>
      <% end %>
    </div>
  </section>
</div>


<div class='reveal-modal' id='new_rating_group_modal'>
  <%= render 'rating_groups/form', rating_group: RatingGroup.new %>
  <a class="close-reveal-modal">&#215;</a>
</div>
