<% title @exercise.title %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_term_exercise_path(current_course, current_term, @exercise), class: "small button" %>
  <%= link_to "Delete", course_term_exercise_path(current_course, current_term, @exercise), method: :delete, class: "small alert button", confirm: "Are you sure?" %>
<% end %>

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Rating Groups</a></p>
    <div class="content" data-section-content>
      <div id='rating_group_index_entries'>
        <p class='index_entry_none <%= 'hide' if @exercise.rating_groups.any? %>'>
          No rating groups present.
        </p>

        <% if @exercise.rating_groups.any? %>
          <% @exercise.rating_groups.each do |rating_group| %>
            <%= render 'rating_groups/index_entry', rating_group: rating_group %>
          <% end %>
        <% end %>
      </div>

      <div class="row">
        <div class="large-12 large-centered columns text-center">
          <%= link_to "Add Rating Group", new_course_term_exercise_rating_group_path(current_course, current_term, @exercise), remote: true, class: "small button", data: {"reveal-id" => "reveal_modal"} %>
        </div>
      </div>

    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Submissions</a></p>
    <div class="content" data-section-content>
      <%= render "submissions/submissions_list", submissions: @exercise.submissions %>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Description</a></p>
    <div class="content" data-section-content>
      <% if @exercise.description? %>
        <%= simple_format @exercise.description %>
      <% else %>
        <p>No description present.</p>
      <% end %>
    </div>
  </section>
</div>

<div id="reveal_modal" class='reveal-modal small'>
  <h1 id="reveal_modal_header" class="subheader"></h1>
  <div id="reveal_modal_content"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
