<% title @exercise.title %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_term_exercise_path(current_course, current_term, @exercise), class: "small button" %>
  <%= link_to "Delete", course_term_exercise_path(current_course, current_term, @exercise), method: :delete, class: "small alert button", confirm: "Are you sure?" %>
<% end %>

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Rating Groups</a></p>
    <div class="content" data-section-content>
      <div id='rating_group_index'>
        <% if @exercise.rating_groups.any? %>
          <% @exercise.rating_groups.each do |rating_group| %>
            <%= render 'rating_groups/index_entry', rating_group: rating_group %>
          <% end %>
        <% else %>
          <p id='rating_group_index_none'>No rating groups present.</p>
        <% end %>
      </div>

      <p>
        <a href="#" data-reveal-id="new_rating_group_modal" class='small button'>Add Rating Group</a>
      </p>

    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Evaluations</a></p>
    <div class="content" data-section-content>
      <p>No evaluations present.</p>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Submissions</a></p>
    <div class="content" data-section-content>
      <%= render "submissions/submissions_list", submissions: @exercise.submissions %>
    </div>
  </section>

  <section>
    <p class="title" data-section-title><a href="#">Description</a></p>
    <div class="content" data-section-content>
      <% if @exercise.description? %>
        <%= simple_format @exercise.description %>
      <% else %>
        <p>No description present.</p>
      <% end %>
    </div>
  </section>
</div>


<div id='new_rating_group_modal' class='reveal-modal small'>
  <h1 class="subheader">New Rating Group</h1>
  <%= render 'rating_groups/form', rating_group: RatingGroup.new %>
  <a class="close-reveal-modal">&#215;</a>
</div>
