<% title @exercise.title %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_term_exercise_path(current_course, current_term, @exercise), :class => "small button" %>
  <%= link_to "Delete", course_term_exercise_path(current_course, current_term, @exercise), :method => :delete, :class => "small alert button", :confirm => "Are you sure?" %>
<% end %>

<dl class='tabs'>
  <dd class='active'><a href='#ratinggroups'>RatingGroups</a></dd>
  <dd><a href='#evaluations'>Evaluations</a></dd>
  <dd><a href='#submissions'>Submissions</a></dd>
  <dd><a href='#description'>Description</a></dd>
</dl>

<ul class='tabs-content'>
  <li class='active' id='ratinggroupsTab'>

    <% if @exercise.rating_groups.any? %>
      <% @exercise.rating_groups.each do |rating_group| %>
        <div>
          <div>
            <h3><%= link_to "#{rating_group.title}: #{rating_group.points}", course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group) %></h3>
          </div>

          <% if rating_group.ratings.any? %>
            <table class='six'>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Points</th>
                </tr>
              </thead>
              <tbody>
                <% rating_group.ratings.each do |rating| %>
                  <tr>
                    <td><%= rating.title %></td>
                    <td><%= rating.points %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>There are no ratings present.</p>
          <% end %>
        </div>
      <% end %>

      
    <% else %>
      <p>No RatingGroups present.</p>
    <% end %>

    <p>
      <%= link_to "Add RatingGroup", new_course_term_exercise_rating_group_path(current_course, current_term, @exercise), :class => "small button" %>
    </p>
    
  </li>

  <li id='evaluationsTab'>
    <p>No Evaluations present.</p>
  </li>

  <li id='submissionsTab'>
    <p>No Submissions present.</p>
  </li>

  <li id='descriptionTab'>
    <p><%= @exercise.description %></p>
  </li>
</ul>