<% title @exercise.title %>

<% sidebar do %>
  <%= link_to "Edit", edit_course_term_exercise_path(current_course, current_term, @exercise), :class => "small button" %>
  <%= link_to "Delete", course_term_exercise_path(current_course, current_term, @exercise), :method => :delete, :class => "small alert button", :confirm => "Are you sure?" %>
<% end %>

<dl class='tabs'>
  <dd class='active'><a href='#ratinggroups'>RatingGroups</a></dd>
  <dd><a href='#evaluations'>Evaluations</a></dd>
  <dd><a href='#submissions'>Submissions</a></dd>
</dl>

<ul class='tabs-content'>
  <li class='active' id='termsTab'>

    <% if @exercise.rating_groups.any? %>
      <table class='twelve'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Points</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @exercise.rating_groups.each do |rating_group| %>
          <tr>
            <th><%= rating_group.title %></th>
            <td><%= rating_group.points %></td>
            <td>
              <%= link_to "View", course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group), :class => "tiny button" %>
              <%= link_to "Edit", edit_course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group), :class => "tiny button" %>
              <%= link_to "Delete", course_term_exercise_rating_group_path(current_course, current_term, @exercise, rating_group), :class => "tiny alert button", :method => :delete, :confirm => "Are you sure?" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No RatingGroups present.</p>
    <% end %>

    <p>
      <%= link_to "Add RatingGroup", new_course_term_exercise_rating_group_path(current_course, current_term, @exercise), :class => "small button" %>
    </p>
    
  </li>
</ul>