<% title @exercise.title, exercise_sub_title(@exercise) %>

<% sidebar do %>
  <%= link_to "Edit", edit_exercise_path(@exercise), class: "small button" %>
  <%= link_to "Delete", exercise_path(@exercise), method: :delete, class: "small alert button", data: { confirm: "Are you sure?" } %>

  <% if @term.student_groups.any? %>
    <p><%= link_to "Evaluations Table", exercise_evaluation_path(@exercise), class: "small button" %></p>
  <% end %>

  <% if @exercise.submissions.any? %>
    <p><%= link_to "View #{pluralize @exercise.submissions.count, "submission"}", exercise_submissions_path(@exercise), class: "small button" %></p>
  <% end %>

<% end %>

<div class="section-container tabs" data-section="tabs">
  <section class="active">
    <p class="title" data-section-title><a href="#">Rating Groups</a></p>
    <div class="content" data-section-content>
      <div id='rating_group_index_entries'>
        <p class='index_entry_none rating_group <%= 'hide' if @exercise.rating_groups.any? %>'>
          No rating groups present.
        </p>

        <% if @exercise.rating_groups.any? %>
          <%= render collection: @exercise.rating_groups.rank(:row_order), partial: 'rating_groups/index_entry', as: :rating_group %>
        <% end %>
      </div>

      <div class="row">
        <div class="large-12 large-centered columns text-center">
          <%= link_to "Add Rating Group", new_exercise_rating_group_path(@exercise), remote: true, class: "small button", data: {"reveal-id" => "reveal_modal"} %>
        </div>
      </div>

    </div>
  </section>

<!--   <section>
    <p class="title" data-section-title><a href="#">Submissions</a></p>
    <div class="content" data-section-content>
      <%#= render "submissions/submissions_list", submissions: @exercise.submissions %>
    </div>
  </section> -->

  <section>
    <p class="title" data-section-title><a href="#">Description</a></p>
    <div class="content" data-section-content>
      <% if @exercise.description? %>
        <%= simple_format @exercise.description %>
      <% else %>
        <p>No description present.</p>
      <% end %>
    </div>
  </section>
</div>

<%= render 'application/reveal_modal' %>
