<% title course_term_title(current_term), "Exports" %>

<%= render 'terms/sidebar' %>

<div class='text-right'>
  <%= link_to "New Export", new_term_export_path(current_term), class: "small button" %>
</div>
<hr />

<% if @exports.any? %>
  <table class='small-12'>
    <thead>
      <tr>
        <th>Type</th>
        <th>Status</th>
        <th>created at</th>
        <th>last status change</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @exports.each do |export| %>
      <tr>
        <td><%= export.type.underscore.humanize %></td>
        <td><%= export.status %></td>
        <td><%= l export.created_at, format: :short %></td>
        <td><%= l export.updated_at, format: :short %></td>
        <td class='text-right'>
          <% if export.finished? %>
            <%= link_to download_link_title(export),
              download_term_export_path(current_term, export),
              class: "small button",
              data: { "data-no-turbolink" => "true" } %>

            <%= link_to "delete", term_export_path(current_term, export),
              class: "small alert button",
              method: :delete,
              data: {confirm: "Are you sure?"} %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No exports have been prepared</p>
<% end %>
