<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Sapphire - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>

	<!-- Included JS Files  -->
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Included Modernizr Files  -->
  <%= javascript_include_tag "vendor/custom.modernizr", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div id='wrapper'>
    <%= render "navigation" %>

    <%= render "flashes" if flash.any? %>

    <% if @show_title %>
    <div class='row'>
      <div class='large-12'>
        <h1>
          <span id='site_title'><%= yield(:title) %></span>
          <% if content_for(:subtitle) %>
            <small id='site_subtitle'><%= yield(:subtitle) %></small>
          <% end %>
        </h1>
        <hr />
      </div>
    </div>
    <% end %>

    <div class='row'>
      <% if content_for? :sidebar %>
        <div class='large-9 columns'>
          <%= yield %>
        </div>
        <div class='large-3 columns'>
          <%= yield :sidebar %>
        </div>
      <% else %>
        <div class='large-12'>
          <%= yield %>
        </div>
      <% end %>
    </div>
    <div id='content-push'></div>
  </div>

  <footer class='row'>
    <div class='large-12 footer-inner'>
      Sapphire &copy; 2012-<%= Date.today.strftime("%Y") %> - proudly presented by IICM of TUGraz
    </div>
  </footer>
</body>
</html>
