<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Sapphire - <%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>

	<!-- Included JS Files  -->
	<%#= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Included Modernizr Files  -->
  <%= javascript_include_tag "vendor/custom.modernizr", "data-turbolinks-track" => true %>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id='wrapper'>
    <%= render "navigation" %>

    <%= render "flashes" if flash.any? %>

    <div class='row<%= " " + yield(:large_content) if content_for(:large_content) %>'>
      <div class='large-12 columns'>
        <%= yield %>
      </div>
    </div>
    <div id='content-push'></div>
  </div>

  <footer class='row'>
    <div class='large-12 footer-inner'>
      Sapphire © 2012-<%= Date.today.strftime("%Y") %> - proudly presented by IICM of TUGraz |
      <%= mail_to "sapphire@iicm.edu", "Feedback", subject: "[Sapphire] Feedback", body: "[URL: #{request.url}]\n" %>
    </div>
  </footer>
</body>
</html>
