<p>
  <%= form_tag search_path, method: :get do |f| %>

  <div class='row'>
    <div class='large-11 columns'>
      <%= search_field_tag :q, params[:q] %>
    </div>
    <div class='large-1 columns'>
      <%= submit_tag "search!", class: "small button" %>
    </div>
  </div>
  <% end %>
</p>

<% if @accounts.any? %>
  <table class='large-12 accounts'>
    <thead>
      <th>Forename</th>
      <th>Surname</th>
      <th>Matriculation Number</th>
      <th>Email</th>
      <th></th>
    </thead>
    <tbody>
      <% @accounts.each do |account|  %>
      <tr>
        <td><%= account.forename %></td>
        <td><%= account.surname %></td>
        <td><%= account.matriculation_number %></td>
        <td><%= account.email %></td>

        <td class='right-aligned'>
          <%= render buttons_partial_view, account: account %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @accounts %>
<% else %>
  <% if params[:q].present? %>
    <p>No accounts found for "<%= params[:q] %>".</p>
  <% else %>
    <p>No accounts present.</p>
  <% end %>
<% end %>
