<% title "Edit your Account" %>

<div class="large-7 large-centered grid-center">
  <%= simple_form_for @account do |f| %>
    <div class="row">
      <fieldset>
        <%= f.input :email, required: true, disabled: true %>
        <%= f.input :forename, required: true, autofocus: true, disabled: !current_account.admin? %>
        <%= f.input :surname, required: true, disabled: !current_account.admin? %>
        <%= f.input :matriculation_number, required: false, disabled: !current_account.admin? %>
      </fieldset>
    </div>

    <div class="row">
      <fieldset>
        <%= f.input :current_password, required: true,
          hint: "we need your current password to confirm your changes" %>
        <%= f.input :password, autocomplete: 'off', required: false,
          hint: "leave it blank if you don't want to change it" %>
        <%= f.input :password_confirmation, required: false %>
      </fieldset>
    </div>

    <div class='row'>
      <div class='large-12 large-centered columns text-center'>
        <%= f.submit class: "button" %>
      </div>
    </div>
  <% end %>
</div>
