<% title "#{@account.fullname}", "#{@account.matriculation_number}" %>

<% sidebar do %>
  <%= link_to "Edit", edit_account_path(@account), class: "small button" %>
<% end %>


<h2>Terms</h2>

<table class='small-12'>
  <thead>
    <tr>
      <th>Term</th>
      <th>Points</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @term_registrations.each do |term_registration| %>
      <tr>
        <td><%= term_registration_title_for_accounts term_registration %></td>
        <td><%= term_registration.points %></td>
        <td class='text-right'><%= link_to "Show", account_detail_term_registration_path(term_registration), class: "tiny button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Back", accounts_path, class: "tiny button" %></p>
