<% title "#{@account.fullname}", "#{@account.matriculation_number}" %>

<%= link_to "Impersonate", impersonation_path(account_id: @account), method: :post, class: 'small button' if policy(Impersonation.new(impersonatable: @account)).create? %>

<%= render "sidebar", account: @account %>

<h2>Terms</h2>

<table class='small-12 terms'>
  <thead>
    <tr>
      <th>Term</th>
      <% if current_account.admin? %>
        <th>Points</th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @term_registrations.each do |term_registration| %>
      <tr>
        <td><%= link_to term_registration_title_for_accounts(term_registration), term_path(term_registration.term) %></td>
        <% if current_account.admin? %>
          <td><%= term_registration.points %></td>
          <td class='text-right'><%= link_to "Show", account_detail_term_registration_path(term_registration), class: "tiny button" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
